@import '../variables/variables';

.content {
  --chain-offers-scrollbar-default-color: #999999;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; // 16px
  overflow-y: scroll;
  padding: 0.125rem 0.9375rem; // 2px 15px

  // Safari doesn't support scrollbar-* properties
  @supports (scrollbar-color: auto) {
    scrollbar-color: var(--chain-offers-scrollbar-color, var(--chain-offers-scrollbar-default-color)) transparent;
    scrollbar-width: var(--chain-offers-scrollbar-width, thin);
    scroll-behavior: smooth;
  }

  // Scrollbar styles for Safari and Opera
  @supports selector(::-webkit-scrollbar) {
    &::-webkit-scrollbar {
      background: transparent;
      width: var(--chain-offers-scrollbar-width-safari, 6px);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--chain-offers-scrollbar-color, var(--chain-offers-scrollbar-default-color));
      border-radius: 4px;
    }
  }
}
