@import '../variables/variables';

.root {
  border-radius: var(--map-item-btn-border-radius, 0.75rem); // 12px
  min-width: 12.5rem; // 200px
  min-height: 3rem; // 48px
  box-shadow: var(--map-item-btn-box-shadow, 0 0.125rem 0.3125rem 0 rgba(0, 0, 0, 0.55)); // 0 2px 5px
  margin: 0;
  color: var(--map-item-btn-color, #ffffff);

  &:disabled {
    background: var(--map-item-btn-disabled-background, $brandAccentPrimary);
    color: var(--map-item-btn-disabled-color, inherit);
  }

  @media screen and (max-width: 25.875rem) and (orientation: portrait) { // 414px
    min-height: 1.75rem; // 28px
    min-width: 7.375rem; // 118px
    font-size: 0.75rem; // 12px
  }
}

.buttonClaimed {
  background-color: var(--map-item-btn-claimed-background, $brandAccentSecondary75);
}

.checkmark {
  width: 1rem; // 16px
  height: 1rem; // 16px
}

.padlock {
  width: 1.125rem; // 18px
  height: 1.125rem; // 18px
}

.buttonContent {
  display: flex;
  gap: 0.5rem; // 8px
  align-items: center;
}
