@import '../../variables/variables';

.questline-dialog {
  position: relative;
  background: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 414px;
  width: 100%;
  margin: auto;
}

/* Header Image */
.questline-dialog__header-image {
  width: 321px;
  height: auto;
  max-width: 100%;
}

/* Description */
.questline-dialog__description-wrapper {
  margin: 12px 0;
  padding: 0;
}

.questline-dialog__description {
  max-width: 380px;
  color: #ecc3ff;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
}

/* Quests Container */
.questline-dialog__quests {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  padding: 0;
  align-items: center;
}

/* Footer */
.questline-dialog__footer {
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: center;
}

.questline-dialog__terms-link {
  color: #ceb6d8;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  line-height: 140%;
  text-decoration: underline;
  cursor: pointer;
}

.questline-dialog__terms-link:hover {
  color: #efd7fa;
}

@media (max-width: 413px) {
  .questline-dialog {
    padding: 12px;
  }

  .questline-dialog__description {
    font-size: 12px;
  }
}
