.CreatorStreamStatus_root__Na1zS {
  position: absolute;
  top: 16px;
  right: 16px;
  min-width: 56px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 6px;
  padding-right: 6px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  border-radius: 150px;
  background-color: #666;
  border: 1px solid rgba(0, 0, 0, 0);
  color: #e5e5e5;
  font-style: italic;
}
@media (max-width: 99999px) {
  .CreatorStreamStatus_root__Na1zS {
    top: 12px;
    right: 12px;
  }
}
@media (max-width: 413px) {
  .CreatorStreamStatus_root__Na1zS {
    top: 10px;
    right: 10px;
  }
}
.CreatorStreamStatus_root__Na1zS:before {
  position: absolute;
  z-index: -1;
  inset: -2px;
  border-radius: inherit;
  background-color: rgba(29, 9, 47, 0.4);
}
.CreatorStreamStatus_rootStartingSoon___AEoO {
  background-color: #25ecff;
  color: #1d092f;
}
.CreatorStreamStatus_rootStartingSoon___AEoO:before {
  content: '';
}
.CreatorStreamStatus_rootLive__vnG_J {
  background-color: #00ff41;
  color: #1d092f;
  border-color: #00ff41;
}
.CreatorStreamStatus_rootLive__vnG_J:before {
  content: '';
}
.CreatorStreamStatus_rootUpcoming__41XpL {
  background-color: #d79af3;
  color: #1d092f;
}
.CreatorStreamStatus_liveIcon__CMvLf {
  width: 6px;
  margin-right: 4px;
}
