.styles_winContainer__qLb2N {
  width: fit-content;
  position: relative;
  text-align: center;
}
.styles_winCount__j_tZ4 {
  position: absolute;
  width: 100%;
  left: 50%;
  bottom: 28px;
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 10px;
}
.styles_winCount__j_tZ4.styles_GC__wXCr9 {
  color: var(--brand-accent-primary-40);
  text-shadow: 0 3px 10.6px #0d94bf;
}
.styles_winCount__j_tZ4.styles_SC__WlQnp {
  color: #b1fa4e;
  text-shadow: 0 3px 10.6px #6aa814;
}
@media screen and (max-width: 99999px) {
  .styles_winCount__j_tZ4 {
    font-size: 12px;
    bottom: 20px;
  }
}
.styles_winText__mpcpb {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 8px;
  top: 14px;
  width: 34px;
  color: var(--base-100);
  line-height: 8px;
  font-size: 10px;
  font-weight: 900;
  z-index: 1;
}
@media screen and (max-width: 99999px) {
  .styles_winText__mpcpb {
    font-size: 8px;
    line-height: 6px;
    width: 25px;
    top: 10px;
  }
}
.styles_winImage__6rDJ6 {
  width: 100px;
  height: auto;
  max-width: none;
}
@media (max-width: 99999px) {
  .styles_winImage__6rDJ6 {
    width: 76px;
  }
}
.styles_root__4r6s1 {
  font-weight: var(--font-weight-medium);
  color: var(--base-70);
  font-size: 12px;
  line-height: 13px;
  text-align: left;
}
.styles_listItem__RZDal {
  background: #311d58;
  border-radius: 12px;
  padding: 32px 16px 60px;
  width: 100%;
  max-width: 50%;
  position: relative;
  margin-top: 30px;
}
@media screen and (max-width: 99999px) {
  .styles_listItem__RZDal {
    max-width: unset;
  }
}
@media screen and (max-width: 99999px) {
  .styles_listItem__RZDal {
    padding: 30px 16px 45px;
    max-width: unset;
  }
}
.styles_listItem__RZDal.styles_hideFooter__kDUtW {
  padding: 40px 16px 24px;
}
.styles_listItem__RZDal:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: -30px;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.styles_listItem__RZDal.styles_gc__IJ6ag:after {
  background-image:/* original URL: https://storage.googleapis.com/www.playfame.com/images/jackpots/coins.png */
    url(../images/fd3c8bc7fc17a8a5bab65fd2efc3a6ef.png);
  width: 60px;
  height: 64px;
  top: -30px;
}
.styles_listItem__RZDal.styles_gc__IJ6ag.styles_smallImage__alFBw:after {
  width: 71px;
  height: 60px;
  top: -30px;
}
.styles_listItem__RZDal.styles_sc__GjU19:after {
  background-image:/* original URL: https://storage.googleapis.com/www.playfame.com/images/jackpots/money.png */
    url(../images/b5d4b26fc28f0f826d49c4ab2547802e.png);
  width: 66px;
  height: 62px;
}
.styles_listItem__RZDal.styles_sc__GjU19.styles_smallImage__alFBw:after {
  width: 71px;
  height: 60px;
}
@media screen and (max-width: 99999px) {
  .styles_listItem__RZDal.styles_sc__GjU19.styles_smallImage__alFBw:after {
    top: -35px;
  }
}
.styles_title__2qbf8 {
  position: absolute;
  top: -25px;
  left: 8px;
}
@media screen and (max-width: 99999px) {
  .styles_title__2qbf8 {
    top: -20px;
  }
}
.styles_currencyImage__BwfbV {
  height: auto;
  width: 160px;
}
.styles_innerList__1Ww0C {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column-reverse;
}
.styles_innerList__1Ww0C .styles_ilItem__uj2DP {
  padding: 8px 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.styles_innerList__1Ww0C .styles_ilItem__uj2DP .styles_ilInfoWrapper___GGit {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.styles_innerList__1Ww0C .styles_ilItem__uj2DP .styles_ilInfoWrapper___GGit .styles_ilTitle__oHVfd {
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  line-height: 22px;
}
.styles_innerList__1Ww0C .styles_ilItem__uj2DP .styles_ilInfoWrapper___GGit .styles_ilQnt__D_RpV {
  font-weight: var(--font-weight-semibold);
  font-size: 32px;
  line-height: 1;
  color: var(--base-100);
}
@media screen and (max-width: 99999px) {
  .styles_innerList__1Ww0C .styles_ilItem__uj2DP .styles_ilInfoWrapper___GGit .styles_ilQnt__D_RpV {
    font-size: 20px;
    line-height: 28.8px;
  }
}
.styles_innerList__1Ww0C
  .styles_ilItem__uj2DP
  .styles_ilInfoWrapper___GGit
  .styles_ilQnt__D_RpV.styles_smallImage__alFBw {
  font-size: 24px;
}
@media screen and (max-width: 99999px) {
  .styles_innerList__1Ww0C
    .styles_ilItem__uj2DP
    .styles_ilInfoWrapper___GGit
    .styles_ilQnt__D_RpV.styles_smallImage__alFBw {
    font-size: 24px;
    line-height: 28.8px;
  }
}
.styles_innerList__1Ww0C
  .styles_ilItem__uj2DP
  .styles_ilInfoWrapper___GGit
  .styles_ilCaption__ySEl5 {
  margin-top: -4px;
  font-weight: var(--font-weight-medium);
  font-size: 12px;
  line-height: 17px;
  color: var(--base-100);
}
.styles_innerList__1Ww0C .styles_ilItem__uj2DP.styles_grand____gt7 .styles_ilTitle__oHVfd {
  color: var(--jackpot-grand-color);
  font-size: 20px;
  line-height: 28px;
}
.styles_innerList__1Ww0C .styles_ilItem__uj2DP.styles_grand____gt7 .styles_ilQnt__D_RpV {
  font-size: 40px;
  line-height: 48px;
  font-weight: var(--font-weight-semibold);
}
@media screen and (max-width: 99999px) {
  .styles_innerList__1Ww0C .styles_ilItem__uj2DP.styles_grand____gt7 .styles_ilQnt__D_RpV {
    font-size: 24px;
    line-height: 28.8px;
  }
}
.styles_innerList__1Ww0C
  .styles_ilItem__uj2DP.styles_grand____gt7
  .styles_ilQnt__D_RpV.styles_smallImage__alFBw {
  font-size: 24px;
}
@media screen and (max-width: 99999px) {
  .styles_innerList__1Ww0C
    .styles_ilItem__uj2DP.styles_grand____gt7
    .styles_ilQnt__D_RpV.styles_smallImage__alFBw {
    font-size: 24px;
    line-height: 28.8px;
  }
}
.styles_innerList__1Ww0C .styles_ilItem__uj2DP.styles_major__Sq4xi .styles_ilTitle__oHVfd {
  color: var(--jackpot-major-color);
}
.styles_innerList__1Ww0C .styles_ilItem__uj2DP.styles_minor__iW09j .styles_ilTitle__oHVfd {
  color: var(--jackpot-minor-color);
}
.styles_innerList__1Ww0C .styles_ilItem__uj2DP.styles_mini__VJ4M5 .styles_ilTitle__oHVfd {
  color: var(--jackpot-mini-color);
}
.styles_innerList__1Ww0C .styles_ilItem__uj2DP .styles_winBadgeWrapper__z7WFU {
  position: relative;
  height: fit-content;
}
.styles_innerList__1Ww0C .styles_ilItem__uj2DP + .styles_ilItem__uj2DP {
  border-bottom: 1px solid var(--base-10);
}
.styles_footer__xvZHw {
  position: absolute;
  bottom: 10px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.styles_link__nEPVP {
  color: #25ecff;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 900;
  line-height: 100%;
  height: 32px;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 12px;
  letter-spacing: 0;
}
.styles_link__nEPVP:hover {
  color: #1ec0d0;
}
.styles_link__nEPVP:hover img {
  filter: brightness(0) saturate(100%) invert(60%) sepia(59%) saturate(520%) hue-rotate(137deg)
    brightness(92%) contrast(103%);
}
.styles_link__nEPVP:focus {
  color: #026786;
}
.styles_link__nEPVP:focus img {
  filter: brightness(0) saturate(100%) invert(23%) sepia(77%) saturate(1980%) hue-rotate(171deg)
    brightness(94%) contrast(98%);
}
.styles_link__nEPVP:disabled {
  color: #487294;
}
.styles_link__nEPVP:disabled img {
  filter: brightness(0) saturate(100%) invert(41%) sepia(27%) saturate(685%) hue-rotate(165deg)
    brightness(97%) contrast(95%);
}
.styles_link__nEPVP,
.styles_optInButton__8lgGV,
.styles_optedInButton__XaXjt {
  min-width: 78px;
  margin-left: 8px;
  padding-left: 4px;
  padding-right: 4px;
}
.styles_root__y28vf {
  list-style: none;
  gap: 12px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(386px, 50%);
  align-items: center;
  grid-gap: 12px;
  min-height: 541px;
}
@media screen and (max-width: 99999px) {
  .styles_root__y28vf {
    grid-auto-columns: minmax(320px, 50%);
    min-height: 437px;
  }
}
.styles_root__y28vf.styles_hideFooter__vuGnJ {
  padding: 0;
}
@media screen and (max-width: 99999px) {
  .styles_root__y28vf.styles_hideFooter__vuGnJ {
    grid-auto-columns: minmax(320px, 50%);
    padding: 0 12px;
    min-height: 437px;
  }
}
.styles_withoutScroll__6lrVP {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  padding: 40px 0 0;
}
@media screen and (max-width: 99999px) {
  .styles_withoutScroll__6lrVP {
    padding: 40px 12px 0;
  }
}
.styles_withoutScroll__6lrVP.styles_hideFooter__vuGnJ {
  padding: 0;
}
