.ChatButtonSkeleton_root__1XOea {
  width: 100%;
  height: 16px;
}
@media (max-width: 99999px) {
  .ChatButtonSkeleton_root__1XOea {
    height: 28px;
  }
}
.GlobalChat_root__F03Y8 {
  display: flex;
  align-items: center;
  flex: 0 0 42px;
  width: 42px;
  margin-left: 6px;
}
@media (max-width: 99999px) {
  .GlobalChat_root__F03Y8 {
    margin-left: -8px;
  }
}
