.BannersCollection_container__jV3G9 {
  scroll-snap-type: x mandatory;
  -webkit-scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: none;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  align-items: center;
  position: relative;
  display: flex;
  margin: 0;
  gap: 0;
}
@media screen and (max-width: 99999px) {
  .BannersCollection_container__jV3G9 {
    grid-auto-columns: calc(50% - 6px);
  }
}
@media screen and (max-width: 99999px) and (orientation: portrait) {
  .BannersCollection_container__jV3G9 {
    padding-left: 40px;
    margin-left: -28px;
  }
}
.BannersCollection_container__jV3G9::-webkit-scrollbar {
  display: none;
}
.BannersCollection_root__L7e90 {
  position: relative;
}
@media screen and (max-width: 99999px) and (orientation: landscape) {
  .BannersCollection_root__L7e90 {
    padding-left: 10px;
  }
}
.BannerTile_root__X_zHo {
  flex: 0 0 355px;
  height: 296px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  position: relative;
  scroll-snap-align: start;
}
@media (max-width: 99999px) {
  .BannerTile_root__X_zHo {
    flex-basis: 345px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (max-width: 99999px) and (orientation: portrait) {
  .BannerTile_root__X_zHo {
    scroll-snap-align: center;
  }
}
.BannerTile_root__X_zHo:after {
  content: '';
  position: absolute;
  z-index: -1;
  border-radius: 30px;
  opacity: 0;
  inset: 18px 12px 38px;
  filter: blur(8.5px);
  background: linear-gradient(#fcd9ff, rgba(255, 7, 172, 0.5019607843));
  transition: opacity 0.3s;
}
@media (max-width: 99999px) and (orientation: portrait) {
  .BannerTile_root__X_zHo.active:after {
    opacity: 1;
  }
}
.BannerTile_root__X_zHo:hover:after {
  opacity: 0.5;
}
.BannerTile_root__X_zHo:first-child {
  margin-left: auto;
}
.BannerTile_root__X_zHo:last-child {
  margin-right: auto;
}
.BannerTile_root__X_zHo img {
  position: relative;
  height: auto;
}
.BannerTile_clickable__Tso1A {
  cursor: pointer;
}
.MenuRewardsBadge_badge__ovqZl {
  min-width: 1.25rem;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: red;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.MenuRewardsBadge_badge__ovqZl.MenuRewardsBadge_opticalCenter__DVfHf {
  padding: 0 0.125rem 0.125rem 0;
}
.MenuRewardsBadge_loader__Vibkz {
  height: 1.125rem;
  width: 1.125rem;
}
.RewardsButton_button__TaxsQ {
  color: #fff;
  font-size: 0.875rem;
  line-height: 1;
  width: 100%;
  min-height: 2.875rem;
  margin: 0 0 0.75rem;
  padding: 0.75rem;
  justify-content: space-between;
}
.RewardsButton_button__TaxsQ > * {
  gap: 0.625rem;
  display: flex;
  align-items: center;
}
.BaseRewardCard_listItem__nb5aQ {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border-radius: var(--radius-lg);
  border: 1.5px solid #b175cd;
  font-size: 12px;
  padding: calc(var(--spacing) * 2.5) calc(var(--spacing) * 5);
  background:/* original URL: https://storage.googleapis.com/www.playfame.com/images/free-spins/free-spin-card-bgi.png */
    url(../images/c264812029445e31a767435469200d47.png) no-repeat,
    linear-gradient(180deg, #581e89, #280049);
  background-size: cover;
  background-position: 100%0;
  background-clip: initial;
  cursor: pointer;
}
.BaseRewardCard_content__jEvOB {
  display: flex;
  gap: calc(var(--spacing) * 3.5);
}
.BaseRewardCard_content__jEvOB .BaseRewardCard_tileImgBox__d17KC {
  width: 35.5%;
  flex-shrink: 0;
  position: relative;
}
.BaseRewardCard_content__jEvOB .BaseRewardCard_details__56DFy {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.BaseRewardCard_content__jEvOB .BaseRewardCard_details__56DFy .BaseRewardCard_button__yjphy {
  background: linear-gradient(163deg, #47fff4 10.85%, #0586ae 83%);
  color: var(--base-100);
  border-color: #9ffff8;
  text-shadow: 0 1px 1px #016282;
  box-shadow:
    0 4px 20px 0 rgba(5, 134, 174, 0.8),
    0-4px 20px 0 rgba(71, 255, 244, 0.8);
  margin-top: calc(var(--spacing) * 2);
  pointer-events: none;
  width: 80px;
  font-weight: var(--font-weight-bold);
  padding: calc(var(--spacing) * 3.75) calc(var(--spacing) * 1.25);
}
.BaseRewardCard_content__jEvOB .BaseRewardCard_details__56DFy .BaseRewardCard_button__yjphy:hover {
  background: #1ec0d0;
  border-color: #25ecff;
}
.BaseRewardCard_content__jEvOB .BaseRewardCard_details__56DFy .BaseRewardCard_button__yjphy:focus {
  background: #026786;
  border-color: #1ec0d0;
  box-shadow: none;
}
.BaseRewardCard_content__jEvOB
  .BaseRewardCard_details__56DFy
  .BaseRewardCard_button__yjphy:disabled {
  background: linear-gradient(163deg, #0586ae 10.85%, #0586ae 83%);
  border-color: #2badd5;
  color: #ffffff66;
  box-shadow: none;
}
.BaseRewardCard_footer__fNfkv {
  display: flex;
  justify-content: space-between;
  margin-top: calc(var(--spacing) * 2);
}
.BaseRewardCard_footer__fNfkv .BaseRewardCard_date__uT5M5 {
  display: flex;
  column-gap: var(--spacing);
  font-size: 12px;
  font-weight: var(--font-weight-normal);
  color: var(--base-50);
}
.BaseRewardCard_footer__fNfkv .BaseRewardCard_date__uT5M5 .BaseRewardCard_highlight__BBH8u {
  color: var(--base-30);
}
.FreeSpinMultipleGamesImage_label__qMqIh {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: 700;
  color: var(--base-100);
}
.FreeSpinCard_root__qDib8 .FreeSpinCard_tileImg__8pxz6 {
  position: static;
  width: 100%;
  height: auto;
}
.FreeSpinCard_root__qDib8.FreeSpinCard_multiGames__tatSr {
  background:/* original URL: https://storage.googleapis.com/www.playfame.com/images/rewards-drawer/card-bg-light.png */
    url(../images/fb1b7c83ab549662288ae67fa85aab19.png) no-repeat,
    linear-gradient(180deg, #9252c8, #401961);
  background-size: cover;
  background-position: 100%0;
  background-clip: initial;
}
.FreeSpinCard_header__GeHmb {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  font-weight: var(--font-weight-bold);
  color: var(--base-50);
}
.FreeSpinCard_header__GeHmb .FreeSpinCard_highlight__PH762 {
  font-size: 20px;
  color: var(--brand-accent-primary-40);
}
.FreeSpinCard_header__GeHmb .FreeSpinCard_currency__LMiKt {
  color: var(--brand-accent-secondary-100);
  margin-left: var(--spacing);
}
.FreeSpinCard_roundsRemain__M50td {
  font-size: 12px;
  font-weight: var(--font-weight-bold);
  color: var(--base-50);
  margin-top: var(--spacing);
}
.FreeSpinCard_roundsRemain__M50td span {
  color: var(--base-30);
}
.RandomRewardCard_header__Cmdzd {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 24px;
  font-weight: var(--font-weight-bold);
  color: var(--base-50);
}
.RandomRewardCard_header__Cmdzd span {
  word-break: break-word;
}
.RandomRewardCard_imgContainer__Rqznp {
  background: var(--primary-foreground);
  padding: 14px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}
.RewardsDrawer_menuButton__9hhMl.RewardsDrawer_menuButton__9hhMl {
  padding: 0 calc(var(--spacing) * 2.5);
  height: 53px;
  border-radius: var(--radius-lg);
  margin-bottom: calc(var(--spacing) * 5.5);
  z-index: 1;
  overflow: visible;
  text-decoration: none;
  background-color: var(--base-5);
  border: calc(var(--spacing) / 4) solid var(--base-40);
  text-transform: capitalize;
  color: var(--base-60);
  font-size: 16px;
}
.RewardsDrawer_menuButton__9hhMl.RewardsDrawer_menuButton__9hhMl:focus,
.RewardsDrawer_menuButton__9hhMl.RewardsDrawer_menuButton__9hhMl:focus img,
.RewardsDrawer_menuButton__9hhMl.RewardsDrawer_menuButton__9hhMl:hover,
.RewardsDrawer_menuButton__9hhMl.RewardsDrawer_menuButton__9hhMl:hover img {
  color: inherit;
  filter: inherit;
}
.RewardsDrawer_menuButton__9hhMl.RewardsDrawer_menuButton__9hhMl > * {
  gap: calc(var(--spacing) / 4 * 3);
}
.RewardsDrawer_menuButton__9hhMl.RewardsDrawer_menuButton__9hhMl .RewardsDrawer_badge__bI79s {
  border-radius: 6px;
  background: var(--badge-destructive-background-color);
  padding: 0 8px 1.5px 7px;
  font-size: 12px;
  font-weight: var(--font-weight-bold);
}
.RewardsDrawer_drawer__C6zv_.RewardsDrawer_drawer__C6zv_ {
  box-shadow: none;
  border-radius: var(--rounded-none);
  background: linear-gradient(172deg, #2a124c 3.15%, #451668 18.81%, #1a1038 94.09%);
}
@media screen and (min-width: 99999px) {
  .RewardsDrawer_drawer__C6zv_.RewardsDrawer_drawer__C6zv_:has(
      .RewardsDrawer_dialogEmptyContent__spz4Z
    ) {
    height: 410px;
    background: linear-gradient(176deg, #2a124c 3.15%, #451668 18.81%, #1a1038 94.09%);
  }
  .RewardsDrawer_drawer__C6zv_.RewardsDrawer_drawer__C6zv_:has(
      .RewardsDrawer_dialogEmptyContent__spz4Z
    ):after {
    content: '';
    position: fixed;
    top: 410px;
    left: 282px;
    width: 26.75rem;
    height: 100%;
    opacity: 0.9;
    background: rgba(26, 16, 56, 0.9);
    backdrop-filter: blur(29.8999996185px);
  }
}
.RewardsDrawer_drawer__C6zv_.RewardsDrawer_drawer__C6zv_
  .RewardsDrawer_dialogEmptyContent__spz4Z
  img {
  margin-top: 47px;
}
@media screen and (max-width: 99999px) {
  .RewardsDrawer_drawer__C6zv_.RewardsDrawer_drawer__C6zv_
    .RewardsDrawer_dialogEmptyContent__spz4Z
    img {
    margin-top: 24px;
  }
}
.RewardsDrawer_drawer__C6zv_.RewardsDrawer_drawer__C6zv_
  .RewardsDrawer_dialogEmptyContent__spz4Z
  .RewardsDrawer_dialogEmptyContentText__dpTBp {
  font-size: 14px;
  color: var(--base-50);
  margin-top: calc(var(--spacing) * 3);
  margin-bottom: calc(var(--spacing) * 8);
}
.RewardsDrawer_drawer__C6zv_.RewardsDrawer_drawer__C6zv_
  .RewardsDrawer_dialogEmptyContent__spz4Z
  .RewardsDrawer_dialogEmptyContentButton__1I3us {
  margin: 0;
}
.RewardsDrawer_drawer__C6zv_.RewardsDrawer_drawer__C6zv_
  .RewardsDrawer_dialogEmptyContent__spz4Z
  .RewardsDrawer_divider__tUJJT {
  display: none;
}
.RewardsDrawer_drawer__C6zv_.RewardsDrawer_drawer__C6zv_ .RewardsDrawer_drawerContent__71uID {
  padding: calc(var(--spacing) * 5) calc(var(--spacing) * 6.75);
}
.RewardsDrawer_drawer__C6zv_.RewardsDrawer_drawer__C6zv_ .RewardsDrawer_drawerHeader__hQKB_ {
  height: 69px;
  padding: 0 20px 0 16px;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: calc(var(--spacing) / 4) solid rgba(122, 70, 142, 0.55);
}
@media screen and (max-width: 99999px) {
  .RewardsDrawer_drawer__C6zv_.RewardsDrawer_drawer__C6zv_ .RewardsDrawer_drawerHeader__hQKB_ {
    height: 72px;
    background-color: #280049;
  }
}
