.Header_root__t1iyN {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 64px;
  justify-content: space-between;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  border: none;
}
@media (min-width: 99999px) {
  .Header_root__t1iyN {
    top: env(safe-area-inset-top);
    padding: 0;
    min-height: 64px;
    background-color: var(--alert-default-background-color);
    border-bottom: 1px solid var(--base-10);
  }
}
@media (max-width: 99999px) and (orientation: landscape) {
  .Header_root__t1iyN {
    left: env(safe-area-inset-left);
    right: env(safe-area-inset-right);
    width: auto;
  }
}
.Header_root__t1iyN.Header_isHeaderWithLogo__3j4Q5 {
  padding: 0;
}
@media (max-width: 99999px) {
  .Header_root__t1iyN.Header_hasSmallerSizeOnMobile__5TyNB {
    min-height: 48px;
  }
  .Header_root__t1iyN.Header_hasSmallerSizeOnMobile__5TyNB .Header_headerWrapper__5GHns {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.Header_root__t1iyN:after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: env(safe-area-inset-top);
  width: 100%;
  background-color: var(--primary-foreground);
}
@media (max-width: 99999px) {
  .Header_root__t1iyN .Header_smallLogo__g5xgf {
    width: auto;
    height: 40px;
  }
}
body.ios-full-screen-enabled .Header_root__t1iyN {
  display: none;
}
.Header_headerWrapper__5GHns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0 16px;
  padding-left: 16px;
  padding-right: 20px;
}
@media (max-width: 99999px) {
  .Header_headerWrapper__5GHns {
    padding-right: 16px;
  }
}
.Header_headerWrapper__5GHns .Header_leftPart__rmV1w {
  display: flex;
  align-items: center;
  margin-right: auto;
  width: 250px;
  flex-shrink: 0;
}
@media (min-width: 99999px) and (max-width: 99999px) {
  .Header_headerWrapper__5GHns .Header_leftPart__rmV1w {
    width: 150px;
  }
}
.Header_headerWrapper__5GHns .Header_centerPart__qfM40 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-width: 99999px;
  margin: 0 auto;
}
.Header_headerWrapper__5GHns .Header_rightPart__N6h8F {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  width: 100%;
}
.Header_headerWrapper__5GHns .Header_gamePageRightPart__u7PbR {
  width: auto;
}
.Header_disabled__fAjFy {
  pointer-events: none;
  filter: blur(4px) saturate(0);
}
.Header_row__DQSVl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.Header_row__DQSVl:has([class*='MultiPlayButton']) {
  width: auto;
  margin-left: auto;
}
.Header_row__DQSVl:has([class*='MultiPlayButton']) .Header_buttons__5_iFQ {
  margin-left: calc(var(--spacing) * 4);
}
.Header_solidAppbar__GgDp9 {
  background-color: var(--alert-default-background-color);
}
.Header_headerMaxWidthContainer__TsyKw {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 99999px) {
  .Header_headerMaxWidthContainer__TsyKw {
    max-width: 99999px;
    margin: auto;
  }
}
.Header_headerContainer__iKwUv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Header_logoLink__LRVdP {
  text-decoration: none;
}
.Header_logo__1vcP3 {
  display: flex;
  align-items: center;
  font-weight: var(--font-weight-bold);
  color: var(--base-100);
}
@media (max-width: 99999px) {
  .Header_logo__1vcP3 {
    height: 50px;
    width: auto;
  }
}
@media (orientation: landscape) {
  .Header_logo__1vcP3 {
    margin-left: env(safe-area-inset-left);
  }
}
.Header_getCoin__H8a47 {
  height: 40px;
  margin-top: 0;
  margin-bottom: 0;
}
@keyframes Header_pulse__x_LP_ {
  0% {
    box-shadow: 0 0 0 0#4e187cb3;
  }
  70% {
    box-shadow: 0 0 2px 8px #4e187cb3;
  }
  to {
    box-shadow: 0 0 0 0#4e187cb3;
  }
}
.Header_getCoin__H8a47.Header_pulsate__co9dp {
  animation: Header_pulse__x_LP_ 1.5s ease-in 1.2s infinite;
}
.Header_getCoin__H8a47.Header_pulsate__co9dp:hover {
  animation: none;
}
.Header_buttons__5_iFQ {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.Header_avatarLink__Q1BKV {
  text-decoration: none;
}
.Header_infoContainer__0Gqaf {
  display: flex;
  align-items: center;
  min-width: 280px;
  justify-content: flex-end;
}
@media (max-width: 99999px) {
  .Header_infoContainer__0Gqaf {
    min-width: auto;
  }
}
@media (orientation: landscape) {
  .Header_infoContainer__0Gqaf {
    margin-right: env(safe-area-inset-right);
  }
}
.Header_avatar___nqSd {
  margin-right: 4px;
  width: 44px;
  height: 44px;
  cursor: pointer;
}
.Header_store-btn__ptIqY {
  color: var(--base-100);
  margin-left: 8px;
  width: 94px;
}
.Header_logoWithClose__3tgYZ {
  width: 100%;
  flex-direction: row;
}
.Header_logoWithClose__3tgYZ,
.Header_mobileHeader__Jh8Ni {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Header_mobileHeader__Jh8Ni {
  flex: 1;
}
.Header_mobileHeaderRightCol__MNhAo {
  display: flex;
}
.Header_searchButton__1DxVY {
  margin-right: 8px;
}
.Header_logoColumn__zJ_9i {
  display: flex;
  align-items: center;
  gap: 12px;
}
