.ScrollingIconsWidget_vars__a55W8 {
  --icons-widget-horizontal-container-max-width: 99999px;
  --icons-widget-horizontal-container-max-width-mobile: 225px;
  --icons-widget-horizontal-container-max-width-small-mobile: 150px;
  --icons-widget-scroll-wrapper-padding: 0 $iconsWidgetScrollButtonOffset;
  --icons-widget-scroll-wrapper-padding-mobile: 0 6px;
  --icons-widget-scroll-container-width: calc(100% - (20px * 2));
  --icons-widget-scroll-container-gap: 16px;
  --icons-widget-scroll-container-margin: 0 20px;
  --icons-widget-scroll-container-padding: 10px;
  --icons-widget-scroll-container-gap-mobile: 10px;
  --icons-widget-scroll-container-margin-mobile: 0;
  --icons-widget-scroll-container-padding-mobile: 4px 8px;
  --icons-widget-vertical-container-height: 100%;
  --icons-widget-vertical-container-gap: 10px;
  --icons-widget-vertical-container-padding: 8px 0;
  --icons-widget-vertical-container-margin: 0;
  --icons-widget-scroll-container-gradient-color-start: rgba(0, 0, 0, 1);
  --icons-widget-scroll-container-gradient-color-end: rgba(0, 0, 0, 0.1);
}
.ScrollingIconsWidget_horizontalContainer__QLMrR {
  width: 100%;
  max-width: var(--icons-widget-horizontal-container-max-width);
  margin: 0 auto;
}
@media screen and (max-width: 99999px) {
  .ScrollingIconsWidget_horizontalContainer__QLMrR {
    max-width: var(--icons-widget-horizontal-container-max-width-mobile);
  }
}
@media screen and (max-width: 375px) {
  .ScrollingIconsWidget_horizontalContainer__QLMrR {
    max-width: var(--icons-widget-horizontal-container-max-width-small-mobile);
  }
}
.ScrollingIconsWidget_widgetScrollWrapper__4U5qK {
  width: 100%;
  padding: var(--icons-widget-scroll-wrapper-padding);
  position: relative;
}
.ScrollingIconsWidget_widgetScrollWrapper__4U5qK:before {
  content: '';
  position: absolute;
  top: 0;
  left: 20px;
  width: 16px;
  height: 100%;
  z-index: 2;
  background: linear-gradient(
    90deg,
    var(--icons-widget-scroll-container-gradient-color-start) 0,
    var(--icons-widget-scroll-container-gradient-color-end) 100%
  );
}
.ScrollingIconsWidget_widgetScrollWrapper__4U5qK:after {
  content: '';
  position: absolute;
  top: 0;
  right: 20px;
  width: 16px;
  height: 100%;
  z-index: 1;
  background: linear-gradient(
    270deg,
    var(--icons-widget-scroll-container-gradient-color-start) 0,
    var(--icons-widget-scroll-container-gradient-color-end) 100%
  );
}
@media screen and (max-width: 99999px) {
  .ScrollingIconsWidget_widgetScrollWrapper__4U5qK {
    padding: var(--icons-widget-scroll-wrapper-padding-mobile);
  }
  .ScrollingIconsWidget_widgetScrollWrapper__4U5qK:before {
    left: 0;
  }
  .ScrollingIconsWidget_widgetScrollWrapper__4U5qK:after {
    right: 0;
  }
}
.ScrollingIconsWidget_widgetScrollContainer___SYF_ {
  width: var(--icons-widget-scroll-container-width);
  display: flex;
  gap: var(--icons-widget-scroll-container-gap);
  margin: var(--icons-widget-scroll-container-margin);
  padding: var(--icons-widget-scroll-container-padding);
}
@media screen and (max-width: 99999px) {
  .ScrollingIconsWidget_widgetScrollWrapper__4U5qK
    .ScrollingIconsWidget_widgetScrollContainer___SYF_ {
    width: 100%;
    gap: var(--icons-widget-scroll-container-gap-mobile);
    margin: var(--icons-widget-scroll-container-margin-mobile);
    padding: var(--icons-widget-scroll-container-padding-mobile);
  }
}
.ScrollingIconsWidget_verticalContainer__B2X62 {
  position: relative;
  width: 100%;
  height: var(--icons-widget-vertical-container-height);
  max-height: 100%;
  margin: var(--icons-widget-vertical-container-margin);
  overflow: hidden;
}
.ScrollingIconsWidget_verticalContainer__B2X62:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 16px;
  z-index: 2;
  background: linear-gradient(
    180deg,
    var(--icons-widget-scroll-container-gradient-color-start) 0,
    var(--icons-widget-scroll-container-gradient-color-end) 100%
  );
}
.ScrollingIconsWidget_verticalContainer__B2X62:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16px;
  z-index: 1;
  background: linear-gradient(
    0deg,
    var(--icons-widget-scroll-container-gradient-color-start) 0,
    var(--icons-widget-scroll-container-gradient-color-end) 100%
  );
}
.ScrollingIconsWidget_verticalScroll__izvx0 {
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--icons-widget-vertical-container-gap);
  padding: var(--icons-widget-vertical-container-padding);
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}
.ScrollingIconsWidget_verticalScroll__izvx0::-webkit-scrollbar {
  display: none;
}
.VectorIcon_container__PmOof {
  display: inline-block;
  color: gray;
}
.Timer_timer___rj3d {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.0625rem 0.25rem;
  white-space: nowrap;
}
.inPlayWidgetIconTemplate_root__RvrQ3 {
  position: relative;
  width: 100%;
  height: 100%;
}
.inPlayWidgetIconTemplate_root__RvrQ3.inPlayWidgetIconTemplate_loading__fUGWX {
  filter: grayscale(0.75);
  pointer-events: none;
}
.inPlayWidgetIconTemplate_root__RvrQ3 svg {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(270deg);
}
.inPlayWidgetIconTemplate_root__RvrQ3 circle {
  fill: none;
  stroke-width: 10px;
  stroke-linecap: round;
}
.inPlayWidgetIconTemplate_root__RvrQ3 circle:first-of-type {
  stroke: var(--in-play-widget-icon-template-progress-bg, #4d4d4d);
}
.inPlayWidgetIconTemplate_root__RvrQ3 circle:nth-of-type(2) {
  stroke: var(--in-play-widget-icon-template-progress-fill, #19fe20);
  stroke-dasharray: 276.5714285714;
}
.inPlayWidgetIconTemplate_loader__c2yTa {
  position: absolute;
  inset: 0;
  z-index: 1;
}
.inPlayWidgetIconTemplate_loader__c2yTa > * {
  height: 2.5rem;
  width: 2.5rem;
}
.inPlayWidgetIconTemplate_picture__I_5gJ {
  display: block;
  width: 100%;
  height: 100%;
}
.inPlayWidgetIconTemplate_image__QGOXu {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.inPlayWidgetIconTemplate_timer__jIhP4 {
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: var(--in-play-widget-icon-template-timer-bottom-offset, 0.125rem);
  transform: translateX(-50%);
  border-radius: var(--in-play-widget-icon-template-timer-block-border-radius, 1.25rem);
  background: var(--in-play-widget-icon-template-timer-bg, rgba(0, 128, 32, 0.9));
  color: var(--in-play-widget-icon-template-timer-text-color, #fff);
  font-size: var(--in-play-widget-icon-template-timer-font-size, 0.875rem);
  height: var(--in-play-widget-icon-template-timer-height, 0.9375rem);
}
