html .FeedbackDialog_dialog__AJyaA {
  --feedback-dialog-background: #2a1c4d;
}
html .FeedbackDialog_dialogCloseButton__m_LSF {
  --feedback-dialog-close-button-size: 1.25rem;
  --feedback-dialog-close-button-color: #6e54b0;
}
html .FeedbackDialog_feedbackFormDialog__aBZtj,
html .FeedbackDialog_ratingDialog__Irzcq,
html .FeedbackDialog_verifiedReviewDialog__OZzvZ {
  --feedback-title-margin: 8px 0 0;
  --feedback-title-color: #efd7fa;
  --feedback-title-font-weight: 700;
  --feedback-title-mobile-margin: 8px 0 0;
  --feedback-title-mobile-font-weight: 700;
  --feedback-subtitle-color: #ecc3ff;
}
html .FeedbackDialog_feedbackFormDialog__aBZtj,
html .FeedbackDialog_ratingDialog__Irzcq {
  --feedback-error-color: #ff5252;
}
html .FeedbackDialog_ratingDialog__Irzcq {
  --feedback-content-padding: 0 0 4px;
  --feedback-content-margin: -55px 0 0;
  --feedback-content-mobile-padding: 0 0 4px;
  --feedback-content-mobile-margin: -55px 0 0;
}
html .FeedbackDialog_feedbackFormDialog__aBZtj {
  --feedback-content-margin: -90px 0 0;
  --feedback-content-mobile-margin: -90px 0 0;
  --feedback-image-height: 150px;
  --feedback-image-mobile-height: 150px;
}
html .FeedbackDialog_verifiedReviewDialog__OZzvZ {
  --feedback-content-padding: 0 0 4px;
  --feedback-content-margin: -90px 0 0;
  --feedback-content-mobile-padding: 0 0 4px;
  --feedback-content-mobile-margin: -90px 0 0;
  --feedback-content-mobile-landscape-padding: 0 0 4px;
  --feedback-content-mobile-landscape-margin: -90px 0 0;
  --feedback-image-height: 150px;
  --feedback-image-mobile-height: 150px;
}
html .FeedbackDialog_ratingSelector__9_3mU {
  --feedback-rating-selector-background: #1d092f;
  --feedback-rating-item-filter: grayscale(80%) brightness(20%) contrast(75%);
}
html .FeedbackDialog_feedbackFormDialogForm__ivJW2 {
  --feedback-form-gap: 24px;
  --feedback-textarea-border-radius: 20px;
  --feedback-textarea-background: #4e187c;
  --feedback-textarea-color: #ceb6d8;
  --feedback-textarea-placeholder-color: #ceb6d8;
  --feedback-submit-button-border: 2px solid #ff7495;
  --feedback-submit-button-border-radius: 50px;
  --feedback-submit-button-background: linear-gradient(180deg, #ff5981, #c83558);
  --feedback-submit-button-font-size: 14px;
  --feedback-submit-button-font-weight: 900;
  --feedback-submit-button-disabled-border: 2px solid #ff749526;
  --feedback-submit-button-disabled-background: linear-gradient(180deg, #ff598166, #c8355866);
  --feedback-submit-button-disabled-color: #fff6;
}
