.styles_root__mCTjK {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 6px;
  gap: 8px;
}
.styles_root__mCTjK .styles_shopLink__V_K8D {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
}
.styles_cashBalanceWrap__dpZ0n {
  margin-left: 10px;
}
.styles_currencyText__vrOmj {
  position: relative;
  line-height: 0.75rem;
  font-size: 18px;
  font-weight: var(--font-weight-bold);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  white-space: nowrap;
  color: var(--base-50);
}
.styles_currencyText__vrOmj.styles_retreatForIcon__9ZJAE {
  margin-right: 25px;
}
.styles_currencyText__vrOmj img {
  width: auto;
  height: 17px;
  margin-right: 6px;
}
.styles_currencySCText__SfUqM {
  color: #b1f84b;
}
.styles_currencyGCText__tbYPp {
  color: #25ecff;
}
.styles_currencyTextWithBg__sxFdY {
  height: 17px;
  padding-left: 16px;
  padding-right: 4px;
  border-radius: 50px;
  border: 0.5px solid;
  font-size: 14px;
}
.styles_currencyTextWithBg__sxFdY .styles_currencyName__3N9eT {
  font-size: 12px;
}
.styles_currencyTextWithBg__sxFdY img {
  position: absolute;
  top: 0;
  left: -6px;
  height: 16px;
}
.styles_currencyTextWithBg__sxFdY.styles_currencySCText__SfUqM {
  color: #3b234f;
  border-color: var(--brand-accent-secondary-100);
  background: linear-gradient(180deg, #c7ff50, #47d631);
}
.styles_currencyTextWithBg__sxFdY.styles_currencyGCText__tbYPp {
  color: #25ecff;
  border-color: rgba(177, 117, 205, 0.4);
  background: linear-gradient(180deg, #561d86, #2a024d);
}
.styles_currencyName__3N9eT {
  font-size: 14px;
}
.styles_icon__lMiVC {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
@media screen and (max-width: 99999px) {
  .styles_icon__lMiVC {
    width: 12px;
    height: 12px;
  }
}
.styles_info__A5Avz {
  position: absolute;
  right: -38px;
  top: -2px;
  cursor: pointer;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
}
.styles_currency__7mNaJ {
  margin-right: 0.5rem;
}
@media screen and (max-width: 99999px) {
  .styles_currency__7mNaJ {
    margin-right: 1rem;
  }
}
