@media (orientation: landscape) {
  .SearchPage_root__mNSdZ {
    margin-right: env(safe-area-inset-right);
    margin-left: env(safe-area-inset-left);
  }
}
@media screen and (max-width: 99999px) {
  .SearchPage_root__mNSdZ {
    padding-bottom: 68px;
  }
  @supports (padding-bottom: constant(safe-area-inset-bottom)) {
    .SearchPage_root__mNSdZ {
      padding-bottom: calc(68px + constant(safe-area-inset-bottom));
    }
  }
  @supports (padding-bottom: env(safe-area-inset-bottom)) {
    .SearchPage_root__mNSdZ {
      padding-bottom: calc(68px + env(safe-area-inset-bottom));
    }
  }
}
.SearchPage_topTitle__CcH_e {
  font-size: 16px;
  font-weight: var(--font-weight-bold);
}
.SearchPage_search__Nx6ZT {
  width: 100%;
  max-width: 99999px;
  position: relative;
  transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  margin-top: 24px;
  margin-bottom: 24px;
}
@media screen and (max-width: 99999px) {
  .SearchPage_search__Nx6ZT {
    width: 100%;
    margin: 0;
    padding: calc(var(--spacing) * 4) 0;
  }
}
.SearchPage_input__OCEhY {
  padding-top: 8px;
  padding-bottom: 8px;
  height: 33px;
}
.SearchPage_gamesSection__utm1R ~ .SearchPage_gamesSection__utm1R {
  margin-top: calc(var(--spacing) * 12) !important;
}
@media screen and (max-width: 99999px) {
  .SearchPage_gamesSection__utm1R ~ .SearchPage_gamesSection__utm1R {
    margin-top: calc(var(--spacing) * 6) !important;
  }
}
.SearchPage_gamesSection__utm1R + .SearchPage_shown__5msp3 .SearchPage_gamesSection__utm1R {
  margin-top: calc(var(--spacing) * 12) !important;
}
@media screen and (max-width: 99999px) {
  .SearchPage_gamesSection__utm1R + .SearchPage_shown__5msp3 .SearchPage_gamesSection__utm1R {
    margin-top: calc(var(--spacing) * 6) !important;
  }
}
.SearchPage_gamesSectionTitle__P2hh3 {
  margin-top: 12px;
  color: var(--base-100);
}
.SearchPage_noResults__JbEDR {
  margin-top: 16px;
  padding: 0;
  margin-bottom: 16px;
}
.SearchPage_noResults__JbEDR h6 {
  font-size: 1.25rem;
  font-weight: var(--font-weight-normal);
  letter-spacing: normal;
}
@media screen and (max-width: 99999px) {
  .SearchPage_noResults__JbEDR h1 {
    font-size: 14px;
    font-weight: var(--font-weight-semibold);
    margin-top: 0;
  }
}
.SearchPage_loader___s27M {
  height: calc(100vh - 300px);
}
.SearchPage_shown__5msp3 {
  display: block;
}
.SearchPage_hidden__Ig1kf {
  display: none;
}
.SearchPage_showMore___bFtC {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.SearchPage_showMore___bFtC .SearchPage_button__dJUnB {
  color: var(--base-50);
  border: 1px solid var(--base-50);
  font-weight: var(--font-weight-semibold);
  font-size: 14px;
  padding: 2px 10px;
  text-transform: none;
  opacity: 0.8;
  line-height: 140%;
}
.SearchPage_gameModeSwitcher__0V6d9 {
  margin: 24px 0;
}
.styles_root__gi8Q6 {
  width: 100%;
  height: 40px;
  position: relative;
  display: inline-flex;
  align-items: center;
  padding-left: calc(var(--spacing) * 4);
  padding-right: calc(var(--spacing) * 4);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--base-70);
}
.styles_root__gi8Q6.styles_active__KN_sI,
.styles_root__gi8Q6.styles_focused__nrHzg {
  background-color: var(--base-5);
}
.styles_root__gi8Q6 label {
  top: -6px;
  left: 10px;
  position: absolute;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 1;
  color: var(--base-60);
  background: var(--base-20);
}
.styles_input__7oAf6 {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  outline: none;
  font: inherit;
  border: none;
  color: var(--base-50);
  background-color: rgba(0, 0, 0, 0);
  font-size: 12px;
  font-weight: 700;
  transition: background-color 0s 1000s;
}
.styles_input__7oAf6:focus {
  outline: none;
}
.styles_input__7oAf6::placeholder {
  color: var(--base-70);
  opacity: 0.8;
  font-weight: 700;
}
.styles_adornment__JrC0R {
  height: 0.01em;
  display: flex;
  max-height: 2em;
  align-items: center;
  white-space: nowrap;
}
.styles_adornmentStart__pA8y6 {
  margin-right: 8px;
}
.styles_adornmentEnd__kmuDG {
  margin-left: 8px;
}
.styles_clearButton__XVrAk {
  display: flex;
  align-items: center;
  padding: 0;
}
.styles_backspaceIcon__E1_dr,
.styles_icon__6xmIa {
  color: var(--base-60);
  height: calc(var(--spacing) * 4);
  width: calc(var(--spacing) * 4);
  display: block;
}
.styles_backspaceIcon__E1_dr {
  color: var(--base-50);
}
.styles_loading__zrnpc {
  position: relative;
}
.styles_loading__zrnpc:before {
  content: '';
  position: absolute;
  right: 8px;
  color: #fff;
  width: 16px;
  height: 16px;
  border-color: #fff hsla(0, 0%, 100%, 0.5) hsla(0, 0%, 100%, 0.5) #fff;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  animation: styles_button-loading-spinner__V_f8d 0.7s linear infinite;
}
@keyframes styles_button-loading-spinner__V_f8d {
  to {
    transform: rotate(1turn);
  }
}
.styles_root__KFQg0 h6 {
  color: var(--base-50);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: var(--font-weight-bold);
}
.styles_root__KFQg0 + .styles_root__KFQg0 {
  margin-top: 18px;
}
.styles_list__H4D99 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 16px 8px;
  margin-top: 12px;
  padding-top: 0;
  padding-bottom: 0;
}
.styles_smallList__r2xgm {
  grid-template-columns: repeat(3, 1fr);
}
.styles_link__P4Z44 {
  display: flex;
  font-size: 10px;
  font-weight: var(--font-weight-semibold);
  height: 14px;
  padding: 0 calc(var(--spacing) * 2);
  color: var(--base-50);
  align-items: center;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  border-radius: 60px;
  border: 1px solid var(--base-50);
  text-decoration: none;
}
.styles_icon__mEhAb {
  transform: rotate(-45deg);
  margin-left: 4px;
  height: calc(var(--spacing) * 3);
  width: calc(var(--spacing) * 3);
}
.styles_gamesSectionItem__S60d4 img {
  box-shadow: none !important;
}
.styles_head__tWKvk {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.styles_root__Xr29j {
  margin-bottom: 16px;
}
.styles_root__Xr29j h6 {
  color: var(--base-50);
  margin: 3px 0 16px;
}
.styles_description__2Ebr6 {
  color: var(--base-50);
  font-weight: var(--font-weight-bold);
  font-size: 14px;
  line-height: 140%;
}
.styles_withShadow__ULspj {
  -webkit-text-stroke: 0.3px var(--base-0);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.styles_title__xDtm_ {
  margin-top: 12px;
  margin-bottom: 0;
}
.styles_root__Y0cN0 {
  position: absolute;
  background-color: var(--base-5);
  top: 100%;
  margin-top: 4px;
  padding: 14px 16px 20px;
  width: 100%;
  border-radius: 20px;
  z-index: 3;
}
.styles_root__tvcOa {
  width: 100%;
  max-width: 99999px;
  position: relative;
  transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
.styles_root__tvcOa.styles_gamePlayPage__GRUhx {
  max-width: 220px;
}
.styles_input__ddJGY {
  padding-top: 8px;
  padding-bottom: 8px;
  height: 33px;
}
.styles_results__R7pbr {
  background-color: var(--base-5);
  position: absolute;
  top: 100%;
  margin-top: 4px;
  padding: 0 16px;
  width: 100%;
  border-radius: 20px;
}
.styles_noResults__hRYpb h6 {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: var(--font-weight-bold);
  color: var(--base-50);
}
.styles_button__87NF_ {
  margin-left: 8px;
  padding: 8px;
  color: var(--mt-text-secondary);
}
html .QuestLines_root__LY43r {
  font-family: Lato;
  --quest-lines-card-primary-background: var(--base-5);
  --quest-lines-card-primary-border-color: #7a468e;
  --quest-lines-card-secondary-background: #7a468e;
  --quest-lines-card-secondary-border-color: var(--base-10);
  --quest-lines-bonus-rewards-background-color: var(--base-5);
  --quest-lines-bonus-rewards-text-color: var(--base-50);
  --quest-lines-bonus-rewards-text-font-weight: 700;
  --quest-lines-bonus-rewards-text-more-font-size: 0.75rem;
  --quest-lines-dialog-countdown-background: #d84568;
  --quest-lines-dialog-countdown-text-font-size: 1rem;
  --quest-lines-dialog-countdown-text-font-weight: 900;
  --quest-lines-simple-list-with-bonus-dialog-text-color: var(--base-60);
  --quest-lines-locked-overlay-background: #231845;
  --quest-lines-locked-overlay-backdrop-filter: blur(2px);
  --quest-lines-locked-overlay-border-radius: 0.5625rem 0.5625rem 0 0;
  --quest-lines-locked-overlay-gap: 0.5rem;
  --quest-lines-locked-icon-color: var(--base-60);
  --quest-lines-locked-icon-font-size: 1.75rem;
  --quest-lines-locked-text-color: var(--base-60);
  --quest-lines-locked-text-font-weight: 400;
  --quest-lines-locked-text-font-size: 0.875rem;
  --quest-lines-locked-text-line-height: 140%;
  --quest-lines-completed-overlay-background: #231845;
  --quest-lines-completed-overlay-opacity: 0.55;
  --quest-lines-completed-overlay-border-radius: 0.5625rem;
  --quest-lines-completed-status-gap: 0.375rem;
  --quest-lines-completed-icon-color: #c6ff77;
  --quest-lines-completed-text-color: #c6ff77;
  --quest-lines-completed-text-font-weight: 700;
  --quest-lines-completed-text-font-size: 0.75rem;
  --quest-lines-completed-text-line-height: 140%;
  --quest-lines-completed-text-transform: uppercase;
  --quest-lines-card-content-background: var(--base-0);
  --quest-lines-card-content-padding: 0.5rem 0.75rem;
  --quest-lines-card-content-info-color: var(--base-50);
  --quest-lines-card-content-info-font-size: 0.875rem;
  --quest-lines-card-content-info-font-weight: 700;
  --quest-lines-card-header-description-color: var(--base-90);
  --quest-lines-rewards-description-color: var(--brand-accent-primary-40);
  --quest-lines-rewards-accent-primary: #25ecff;
  --quest-lines-rewards-accent-secondary: var(--brand-accent-secondary-100);
  --quest-lines-rewards-accent-tertiary: #ecc3ff;
  --quest-lines-rewards-accent-warning: #ecc3ff;
  --quest-lines-rewards-description-font-weight: 700;
  --quest-lines-rewards-text-font-size: 0.75rem;
  --quest-lines-rewards-text-font-weight: 700;
  --quest-lines-card-content-more-color: var(--base-50);
  --quest-lines-card-content-more-font-size: 0.875rem;
  --quest-lines-card-content-more-font-weight: 700;
  --quest-lines-dialog-progress-bar-track-background: var(--base-20);
  --quest-lines-mpb-circle-background-color: var(--base-20);
  --quest-lines-mpb-circle-border-color: var(--base-20);
  --quest-lines-mpb-circle-completed-background-color: var(--avatar-border-color);
  --quest-lines-quest-card-action-button-unclaimed-background: linear-gradient(
    180deg,
    #47fff4 10.85%,
    #0586ae 83%
  );
  --quest-lines-quest-card-action-button-unclaimed-background-hover: linear-gradient(
    180deg,
    #3be2d8 10.85%,
    #047192 83%
  );
  --quest-lines-quest-card-action-button-unclaimed-background-focus: linear-gradient(
    180deg,
    #2fc5bc 10.85%,
    #035d76 83%
  );
  --quest-lines-quest-card-action-button-unclaimed-text-color: #fff;
  --quest-lines-quest-card-action-button-unclaimed-border: 0.125rem solid #9ffff8;
  --quest-lines-quest-card-action-button-claimed-background: linear-gradient(
    180deg,
    rgba(71, 255, 244, 0.5) 10.85%,
    rgba(5, 134, 174, 0.5) 83%
  );
  --quest-lines-quest-card-action-button-claimed-text-color: rgba(229, 229, 229, 0.5);
  --quest-lines-quest-card-action-button-claimed-border: 0.125rem solid rgba(159, 255, 248, 0.5);
  --quest-lines-quest-card-action-button-in-progress-background: linear-gradient(
    180deg,
    #ff5981,
    #c83558
  );
}
html .QuestLines_questLineTwoEdgedEntryRoot__nl5OS {
  min-width: 19.125rem;
  --quest-lines-two-edged-entry-root-min-height: 2rem;
  --quest-lines-two-edged-entry-root-border: 0.125rem solid #7a468e;
  --quest-lines-two-edged-entry-progress-bar-after-background: #c6ff77;
  --quest-lines-two-edged-entry-progress-bar-failed-after-background: linear-gradient(
    90deg,
    #c6ff77 42.07%,
    #ff5252 77.16%,
    #ff5252
  );
  --quest-lines-two-edged-entry-progress-bar-before-background: #4e187c;
  --quest-lines-two-edged-progress-title-font-size: 1rem;
  --quest-lines-two-edged-progress-title-stroke: 0.03125rem #3a125d;
  --quest-lines-two-edged-entry-progress-bar-border-radius: 6.25rem;
  --quest-lines-two-edged-entry-timer-color: #1d092f;
  --quest-lines-two-edged-entry-timer-disabled-color: #1d092f;
  --quest-lines-two-edged-entry-timer-background: #c6ff77;
  --quest-lines-two-edged-entry-timer-disabled-background: #ff5252;
  --quest-lines-two-edged-entry-timer-font-weight: 900;
  --quest-lines-two-edged-entry-icon-left-width: 2.875rem;
  --quest-lines-two-edged-entry-icon-left-margin-top: -0.1875rem;
  --quest-lines-two-edged-entry-icon-right-width: 3.5625rem;
  --quest-lines-two-edged-entry-icon-right-margin-top: -0.125rem;
}
html .QuestLines_questLineTwoEdgedEntryRoot__nl5OS.inGameWidget {
  min-width: 10.625rem;
  --quest-lines-two-edged-entry-icon-left-width: 2.5rem;
  --quest-lines-two-edged-entry-icon-right-width: 2.5rem;
}
@media screen and (max-width: 99999px) {
  html .QuestLines_questLineTwoEdgedEntryRoot__nl5OS.inGameWidget {
    max-width: 10.625rem;
  }
}
@media screen and (max-width: 99999px) and (orientation: landscape) {
  html .QuestLines_questLineTwoEdgedEntryRoot__nl5OS.inGameWidget {
    min-width: 7.5rem;
  }
}
html .QuestLines_questLineTwoEdgedEntryTimerWrapper__1kt7D {
  font-size: 1rem;
}
html .QuestLines_questLineEntryRoot__E2d9m {
  --quest-lines-entry-content-bottom: 0.125rem;
  --quest-lines-entry-progress-bar-width: 3.125rem;
  --quest-lines-entry-progress-bar-margin: 0.0625rem 0 0.25rem;
  --quest-lines-entry-timer-color: #1d092f;
  --quest-lines-entry-timer-font-weight: 900;
  --quest-lines-entry-compact-button-color: #fff;
  --quest-lines-entry-compact-button-font-size: 2.8125rem;
  --quest-lines-entry-compact-button-size: 2.8125rem;
  --quest-lines-entry-compact-size: 2.8125rem;
  --quest-lines-entry-timer-height: 1.25rem;
  --quest-lines-entry-timer-font-size: 1rem;
  --quest-lines-entry-timer-padding: 0 0.375rem;
  --quest-lines-timer-background: #c6ff77;
  --quest-lines-timer-block-border-radius: 1.25rem;
  --quest-lines-timer-time-color: #1d092f;
  --quest-lines-timer-time-font-size: 0.75rem;
  --quest-lines-timer-time-font-weight: 700;
  --quest-lines-timer-textified-background: #fa114f;
  --quest-lines-timer-disabled-background: #4d4d4d;
  --quest-lines-progress-bar-border-radius: 0.25rem;
  --quest-lines-progress-bar-background: #7a468e;
  --quest-lines-progress-bar-before-background: #3a125d;
  --quest-lines-progress-bar-after-border-radius: 0.25rem;
  --quest-lines-progress-bar-after-background: #c6ff77;
}
html .QuestLines_questLineEntryCompactProgressBarWrapper__0s7sU.completed,
html .QuestLines_questLineEntryCompactProgressBarWrapper__0s7sU.unclaimed {
  display: none;
}
html .QuestLines_questLineEntryCompactTimerWrapper__usC91.unclaimed,
html .QuestLines_questLineEntryTimerWrapper__RMgBz.unclaimed {
  text-shadow: 0 0.05rem 0.05rem #016282;
  color: #fff;
  border: 0.089375rem solid #9ffff8;
  background: linear-gradient(163deg, #47fff4 10.85%, #0586ae 83%);
  box-shadow:
    0-0.2rem 1rem 0 rgba(71, 255, 244, 0.8),
    0 0.2rem 1rem 0 rgba(5, 134, 174, 0.8);
  height: 1.25rem;
  padding: 0 0.1875rem;
  top: 53%;
}
html .QuestLines_questLineEntryCompactTimerWrapper__usC91.completed,
html .QuestLines_questLineEntryTimerWrapper__RMgBz.completed {
  text-shadow: 0 0.05rem 0.05rem #016282;
  color: hsla(0, 0%, 100%, 0.4);
  border: 0.0625rem solid #666;
  background: #666;
  height: 1.25rem;
  padding: 0 0.1875rem;
  top: 53%;
  font-size: 0.625rem;
}
html .QuestLines_questLineEntryTimerWrapper__RMgBz.completed,
html .QuestLines_questLineEntryTimerWrapper__RMgBz.unclaimed {
  font-size: 1rem;
}
html .QuestLines_questLineEntryTimerWrapper__RMgBz.completed {
  border: 0.089375rem solid #2badd5;
  background: linear-gradient(163deg, #0586ae 10.85%, #0586ae 83%);
}
html .QuestLines_questLineEntryCompactTimerWrapper__usC91.completed {
  height: 1.25rem;
  padding: 0 0.1875rem;
  top: 53%;
  font-size: 0.625rem;
}
html .QuestLines_simpleQuestDialog__wSS0l {
  --quest-lines-simple-dialog-main-title-color: var(--brand-accent-secondary-100);
  --quest-lines-simple-dialog-main-title-fail-color: var(--system-error);
  --quest-lines-simple-dialog-text-color: var(--base-50);
  --quest-lines-simple-dialog-text-font-size: 0.875rem;
  --quest-lines-simple-dialog-terms-color: var(--base-70);
  --quest-lines-simple-dialog-action-button-in-progress-background: linear-gradient(
    180deg,
    #47fff4 10.85%,
    #0586ae 83%
  );
  --quest-lines-simple-dialog-action-button-in-progress-text-color: var(--base-90);
  --quest-lines-simple-dialog-action-button-in-progress-border: 0.125rem solid #9ffff8;
  --quest-lines-simple-dialog-action-button-in-progress-background-hover: linear-gradient(
    180deg,
    #3be2d8 10.85%,
    #047192 83%
  );
  --quest-lines-simple-dialog-action-button-in-progress-background-focus: linear-gradient(
    180deg,
    #2fc5bc 10.85%,
    #035d76 83%
  );
  --quest-lines-simple-dialog-action-button-unclaimed-background: linear-gradient(
    180deg,
    #47fff4 10.85%,
    #0586ae 83%
  );
  --quest-lines-simple-dialog-action-button-unclaimed-text-color: var(--base-90);
  --quest-lines-simple-dialog-action-button-unclaimed-border: 0.125rem solid #9ffff8;
  --quest-lines-simple-dialog-action-button-unclaimed-background-hover: linear-gradient(
    180deg,
    #3be2d8 10.85%,
    #047192 83%
  );
  --quest-lines-simple-dialog-action-button-unclaimed-background-focus: linear-gradient(
    180deg,
    #2fc5bc 10.85%,
    #035d76 83%
  );
  --quest-lines-simple-dialog-action-button-unclaimed-box-shadow:
    0-0.25rem 1.25rem 0 rgba(71, 255, 244, 0.8), 0 0.25rem 1.25rem 0 rgba(5, 134, 174, 0.8);
}
html .QuestLines_simpleListWithBonusDialog__SdeZk {
  --quest-lines-simple-list-with-bonus-dialog-terms-color: var(--base-70);
  --quest-lines-list-quest-font-size: 1rem;
  --quest-lines-list-quest-card-header-root-padding: 0.875rem;
  --quest-lines-card-header-title-color: var(--base-90);
  --quest-lines-card-header-title-font-weight: 700;
  --quest-lines-card-header-description-font-size: 0.875rem;
  --quest-lines-card-header-description-color: var(--base-90);
  --quest-lines-card-header-cta-border-radius: 0.5rem;
  --quest-lines-purchase-reward-background-color: #2a9cff;
  --quest-lines-purchase-reward-border-color: #195e99;
  --quest-lines-purchase-reward-text-color: #fff;
  --quest-lines-purchase-reward-text-font-size: 0.6875rem;
  --quest-lines-purchase-reward-text-shadow: 0 0.0625rem 0 rgba(0, 0, 0, 0.5);
  --quest-lines-card-footer-cta-text-color: var(--base-50);
  --quest-lines-card-footer-cta-font-size: 0.75rem;
  --quest-lines-card-footer-cta-font-weight: 700;
  --quest-lines-mpb-height: 0.5rem;
  --quest-lines-mpb-circle-size: 0.875rem;
}
html .QuestLines_customQuestDialog__AkFjV {
  --quest-lines-custom-dialog-root-max-width: 30rem;
  --quest-lines-custom-dialog-terms-color: var(--base-70);
  --quest-lines-custom-dialog-terms-font-size: 0.8125rem;
  --quest-lines-custom-dialog-terms-font-weight: 700;
}
html .QuestLines_customQuestDialogTooltip__fVxvy {
  --quest-lines-custom-dialog-tooltip-background: #1a1038;
  --quest-lines-custom-dialog-tooltip-border-color: #7a468e;
  --quest-lines-custom-dialog-tooltip-padding: 1rem 0.75rem 1rem 0.75rem;
  --quest-lines-custom-dialog-tooltip-max-width: 16.875rem;
  --quest-lines-custom-dialog-tooltip-margin-left: 6.25rem;
  --quest-lines-custom-dialog-tooltip-title-font-size: 1rem;
  --quest-lines-custom-dialog-tooltip-title-color: #e5e5e5;
  --quest-lines-custom-dialog-tooltip-title-font-weight: 900;
  --quest-lines-custom-dialog-tooltip-description-font-size: 0.875rem;
  --quest-lines-custom-dialog-tooltip-description-color: #efd7fa;
  --quest-lines-custom-dialog-tooltip-description-font-weight: 400;
}
html .QuestLines_rewardsImageWrap__HqYFF {
  background-color: var(--base-10);
}
html .QuestLines_actionButton__E_dyI {
  border-radius: 3.125rem;
  padding: 0;
  font-weight: 900;
  height: 2rem;
  width: 4.125rem;
}
html .QuestLines_dialogCountdownRoot__TC1sP {
  margin-top: 0.5rem;
}
html .QuestLines_listQuestCardInfoWrapper__txIq5 {
  max-width: 16.25rem;
}
html .QuestLines_listQuestCardLockedOverlay__iAOaq {
  background: var(--quest-lines-locked-overlay-background);
  backdrop-filter: var(--quest-lines-locked-overlay-backdrop-filter);
  border-radius: var(--quest-lines-locked-overlay-border-radius);
  gap: var(--quest-lines-locked-overlay-gap);
}
html .QuestLines_listQuestCardLockedIcon__UVgEI {
  font-size: var(--quest-lines-locked-icon-font-size);
  color: var(--quest-lines-locked-icon-color);
}
html .QuestLines_listQuestCardLockedText__LwRFI {
  color: var(--quest-lines-locked-text-color);
  font-weight: var(--quest-lines-locked-text-font-weight);
  font-size: var(--quest-lines-locked-text-font-size);
  line-height: var(--quest-lines-locked-text-line-height);
}
html .QuestLines_listQuestCardCompletedOverlay__OngF5 {
  background: var(--quest-lines-completed-overlay-background);
  opacity: var(--quest-lines-completed-overlay-opacity);
  border-radius: var(--quest-lines-completed-overlay-border-radius);
}
html .QuestLines_listQuestCardCompletedStatus__hBDfe {
  gap: var(--quest-lines-completed-status-gap);
  justify-content: flex-end;
}
html .QuestLines_listQuestCardCompletedIcon__wak71 {
  color: var(--quest-lines-completed-icon-color);
  font-size: var(--quest-lines-completed-text-font-size);
}
html .QuestLines_listQuestCardCompletedText__z6cHd {
  color: var(--quest-lines-completed-text-color);
  font-weight: var(--quest-lines-completed-text-font-weight);
  font-size: var(--quest-lines-completed-text-font-size);
  line-height: var(--quest-lines-completed-text-line-height);
  text-transform: var(--quest-lines-completed-text-transform);
}
html .QuestLines_bonusRewardsCard__khdV8 {
  border-color: var(--base-10);
}
html .QuestLines_bonusRewardsMoreWrapper__mjSxe {
  border: 0.0625rem solid var(--base-50);
  padding: 0.0625rem 0.5rem;
  border-radius: 3.125rem;
  text-decoration: none;
  margin-top: -1.25rem;
}
html .QuestLines_bonusRewardsClaimButton__tv9yL {
  background: linear-gradient(180deg, #47fff4 10.85%, #0586ae 83%);
  color: var(--base-90);
  border: 0.125rem solid #9ffff8;
  box-shadow:
    0-0.25rem 1.25rem 0 rgba(71, 255, 244, 0.8),
    0 0.25rem 1.25rem 0 rgba(5, 134, 174, 0.8);
}
html .QuestLines_bonusRewardsClaimButton__tv9yL:hover {
  background: linear-gradient(180deg, #3be2d8 10.85%, #047192 83%);
  border: 0.125rem solid #9ffff8;
}
html .QuestLines_bonusRewardsClaimButton__tv9yL:focus {
  background: linear-gradient(180deg, #2fc5bc 10.85%, #035d76 83%);
  border: 0.125rem solid #9ffff8;
}
html .QuestLines_questLinesEntryInGameWidgetContainer__Mliie {
  --quest-line-widget-icon-progress-fill: #c6ff77;
  --quest-line-widget-icon-progress-bg: #7a468e;
  background-color: #5903b4;
}
html .QuestLines_questLinesEntryInGameWidgetTimerWrapper__toZ4N {
  --quest-line-widget-timer-bg: #c6ff77e5;
  --quest-line-widget-timer-text-color: #000;
  font-weight: 900;
}
@media screen and (max-width: 99999px) {
  html .QuestLines_questLinesEntryInGameWidgetTimerWrapper__toZ4N {
    --quest-line-widget-timer-font-size: 0.6875rem;
    padding-left: 0.1875rem;
    padding-right: 0.1875rem;
  }
}
.QuestLineProgressBar_root__e4voF {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 0.875rem;
  margin: 0 auto;
}
.QuestLineProgressBar_questLineTwoEdgedEntryRoot__IaWql {
  width: 100%;
}
.QuestLineProgressBar_questLineTwoEdgedEntryRoot__IaWql .timerWrapper {
  position: absolute;
  bottom: 5px;
}
@media screen and (max-width: 99999px) {
  .QuestLineProgressBar_questLineTwoEdgedEntryRoot__IaWql .timerWrapper {
    bottom: 0;
  }
}
.QuestLineProgressBar_isVertical__1CQnM {
  height: 100%;
  max-height: 10.25rem;
  margin-top: 0.75rem;
  --quest-lines-two-edged-entry-root-min-width: 100%;
}
@media screen and (max-width: 99999px) and (orientation: landscape) {
  .QuestLineProgressBar_isVertical__1CQnM {
    margin-top: 0;
  }
}
html .IconsWidgetContainer_inPlayWidgetIconRoot__7WCj3 {
  cursor: pointer;
}
html .IconsWidgetContainer_inPlayWidgetIconImage__7y7tU {
  padding: 6px;
}
html .IconsWidgetContainer_widgetScrollWrapper__2aDdT {
  --icons-widget-scroll-wrapper-padding-mobile: 0;
  --icons-widget-scroll-container-gradient-color-start: rgba(42, 28, 77, 1);
  --icons-widget-scroll-container-gradient-color-end: rgba(42, 28, 77, 0.1);
  --icons-widget-scroll-container-padding-mobile: 4px 16px;
}
html .IconsWidgetContainer_horizontalContainer__Ftv8C {
  --icons-widget-horizontal-container-max-width-mobile: 200px;
  --icons-widget-horizontal-container-max-width-small-mobile: 175px;
}
html .IconsWidgetContainer_verticalContainer__Pb_HZ {
  --icons-widget-scroll-container-gradient-color-start: rgba(42, 28, 77, 1);
  --icons-widget-scroll-container-gradient-color-end: rgba(42, 28, 77, 0.1);
  --icons-widget-vertical-container-padding: 14px 0;
}
@media screen and (max-width: 99999px) {
  .IconsWidgetContainer_loyaltyBlock__M50Ls.IconsWidgetContainer_loyaltyBlock__M50Ls section {
    --loyalty-widget-width: 10rem;
    margin: 0 10px;
  }
}
@media (max-width: 99999px) and (orientation: landscape) {
  .IconsWidgetContainer_loyaltyBlock__M50Ls.IconsWidgetContainer_loyaltyBlock__M50Ls section {
    margin: 0 !important;
  }
}
.IconsWidgetContainer_questLinesBlock__IJ2UI {
  max-width: 240px;
}
@media (max-width: 99999px) and (orientation: landscape) {
  .IconsWidgetContainer_questLinesBlock__IJ2UI {
    height: 100%;
  }
}
.ProductTile_root__H4pqb {
  cursor: pointer;
  position: relative;
}
.ProductTile_root__H4pqb .ProductTile_imageContainer__5iYZU {
  position: relative;
  padding-top: 133.333%;
}
.ProductTile_root__H4pqb .ProductTile_imageContainer__5iYZU .ProductTile_image__0NIGi {
  box-shadow:
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  transition: all 0.3s;
  text-indent: -10000px;
}
@media screen and (min-width: 99999px) {
  .ProductTile_root__H4pqb .ProductTile_imageContainer__5iYZU .ProductTile_image__0NIGi:hover {
    box-shadow:
      0 10px 14px rgba(0, 0, 0, 0.1),
      0 5px 14px rgba(0, 0, 0, 0.1);
  }
}
.ProductTile_root__H4pqb .ProductTile_imageContainer__5iYZU .ProductTile_icon__08FzB {
  fill: #aaa;
  width: 24px;
  height: 24px;
}
.ProductTile_root__H4pqb.ProductTile_rootVisible__RpcD2 {
  opacity: 1;
  transform: scale(1);
}
.Search_header__ACAVj {
  display: flex;
  align-items: center;
}
.Search_header__ACAVj .Search_headerText__jkAlV {
  font-weight: var(--font-weight-medium);
  font-size: 16px;
  color: var(--base-70);
}
.Search_header__ACAVj .Search_headerButton__ZhHzK {
  padding: 0;
  margin-left: auto;
}
.Search_header__ACAVj .Search_headerButton__ZhHzK:last-child {
  margin-left: 1rem;
}
@media screen and (max-width: 99999px) {
  .Search_header__ACAVj {
    margin-bottom: 14px;
  }
}
.Search_search__3ppFh {
  width: 320px;
  position: relative;
  transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  background-color: var(--base-20);
  border-radius: 16px;
  margin: 0 auto 20px;
}
@media screen and (max-width: 99999px) {
  .Search_search__3ppFh {
    width: 100%;
  }
}
.Search_search__3ppFh .Search_input__e4hOP {
  padding-top: 8px;
  padding-bottom: 8px;
  height: 33px;
}
.Search_search__3ppFh .Search_close__sRxrr {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0);
}
.Search_search__3ppFh:has([class*='adornmentEnd']) .Search_close__sRxrr {
  display: none;
}
.Search_tileContainer__lfhsN {
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 12px;
}
@media screen and (max-width: 99999px) {
  .Search_tileContainer__lfhsN {
    gap: 8px;
  }
}
@media screen and (max-width: 99999px) {
  .Search_tileContainer__lfhsN {
    grid-template-columns: repeat(3, auto);
  }
}
.Search_item__F_zqk {
  min-width: 0;
}
.Search_noResults__NBPUd {
  color: var(--base-100);
  font-weight: var(--font-weight-bold);
  font-size: 14px;
  line-height: 140%;
  margin: 67px 0;
}
.Category_title__o157A {
  padding: 0;
  margin: calc(var(--spacing) * 3) 0;
}
.Category_tilesGrid__YNevl {
  display: grid;
  grid-gap: 12px;
  grid-auto-flow: column;
}
.Category_tilesGrid__YNevl.Category_tilesContainer__RXOrU {
  grid-auto-columns: calc(16.6666666667% - 10px);
  padding-left: 22px;
  padding-right: 22px;
  margin-left: -22px;
  margin-right: -22px;
}
@media screen and (max-width: 99999px) {
  .Category_tilesGrid__YNevl {
    grid-gap: 8px;
  }
  .Category_tilesGrid__YNevl.Category_tilesContainer__RXOrU {
    grid-auto-columns: 112px;
  }
}
.SwimlaneGames_root__yjul5 {
  min-height: 612px;
  height: 100%;
}
.Lobby_multiPlayLobby__bqPkc {
  display: flex;
  flex-direction: column;
  overflow: hidden auto;
  padding: 14px 22px;
}
@media screen and (max-width: 99999px) and (orientation: landscape) {
  .Lobby_multiPlayLobby__bqPkc {
    padding-top: 48px;
  }
}
.Lobby_selected__RfWzf {
  height: 100%;
  background: var(--primary-foreground);
}
.RotateInfoDialog_root__i_l1D {
  z-index: 4;
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
  width: 293px;
  background-color: var(--system-info);
  border-radius: var(--radius-xs);
  border: none;
  padding: 17px 14px;
}
.RotateInfoDialog_content__l0N_K {
  display: flex;
  align-items: center;
  column-gap: 17px;
}
.RotateInfoDialog_text__1jcSH {
  font-weight: var(--font-weight-normal);
  font-size: 14px;
  line-height: 19px;
  color: var(--base-100);
  text-align: left;
}
.RotateInfoDialog_close__sQMwt {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: rgba(0, 0, 0, 0);
}
.RotateInfoDialog_close__sQMwt span > svg {
  color: var(--base-100);
}
.RotateInfoDialog_close__sQMwt:hover {
  background-color: rgba(0, 0, 0, 0);
}
.RotateInfoDialog_overlay__s5wpN {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 12, 12, 0.8);
}
.MultiPlay_multiPlay__l3vtt {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 50%;
  background-color: var(--base-10);
}
@media (max-width: 99999px) {
  .MultiPlay_multiPlay__l3vtt {
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: var(--base-10);
  }
}
@media (max-width: 99999px) and (orientation: landscape) {
  .MultiPlay_multiPlay__l3vtt {
    left: 0;
    height: 100%;
    width: 50%;
  }
}
@media (min-width: 99999px) {
  .MultiPlay_multiPlay__l3vtt {
    top: calc(18.5px + 0.5rem);
    width: 50%;
    height: calc(100% - (18.5px + 0.5rem) - 28px - 40px);
  }
}
.styles_skeletonBox__OqHwn {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: var(--base-10);
}
.styles_skeletonBox__OqHwn:after {
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.05) 15%,
    rgba(255, 255, 255, 0.1) 30%,
    rgba(255, 255, 255, 0.15) 45%,
    rgba(255, 255, 255, 0.1) 60%,
    rgba(255, 255, 255, 0.05) 75%,
    rgba(255, 255, 255, 0)
  );
  animation: styles_shimmer__ZXTjp 3s infinite;
  content: '';
}
@keyframes styles_shimmer__ZXTjp {
  to {
    transform: translateX(100%);
  }
}
html .FeaturesIcons_root__H45hJ {
  --feature-backgroung-top-position-desktop: 0px;
  --feature-backgroung-left-position-desktop: 0px;
  --feature-backgroung-left-position-mobile: 0px;
  --feature-backgroung-prefix-mobile: 0px;
  --feature-icons-grid-item-max-width: 84px;
  --feature-icons-grid-item-max-height: 98px;
  --chain-offer-home-icon-timer-wrapper-background: var(--brand-accent-secondary-100);
  --chain-offer-home-icon-timer-background: var(--brand-accent-secondary-100);
  --chain-offer-home-icon-timer-color: var(--base-0);
  --chain-offer-home-icon-timer-font-size: 16px;
  --chain-offer-home-icon-timer-font-weight: var(--font-weight-black);
  --chain-offer-home-icon-timer-padding: 1px 4px;
  --chain-offer-home-icon-timer-line-height: 1;
  --chain-offer-home-icon-timer-wrapper-bottom: 2px;
  --quest-lines-entry-button-width: 100%;
  --quest-lines-entry-button-height: var(--feature-icons-grid-item-max-height);
  height: 393px;
  padding-bottom: 10px;
}
@media screen and (max-width: 99999px) {
  html .FeaturesIcons_root__H45hJ {
    height: 288px;
  }
}
html .FeaturesIcons_timerContainer__KivMU {
  padding: 1px;
  background: var(--brand-accent-secondary-100);
  border-radius: 20px;
  bottom: -8px;
  transform: translate(-50%, -50%);
  left: 50%;
}
html .FeaturesIcons_timerContainer__KivMU .FeaturesIcons_timerValue__LFyXN {
  background: var(--brand-accent-secondary-100);
  color: var(--base-0);
  border-radius: 20px;
  font-size: 16px;
  font-weight: var(--font-weight-black);
  line-height: 100%;
  white-space: nowrap;
}
html .FeaturesIcons_swimlaneItem__ovgn4 {
  width: 84px;
  height: 98px;
}
html .FeaturesIcons_swimlaneItem__ovgn4:has(div[class*='placeholderWrapper']) {
  max-width: none;
  width: auto;
}
html .FeaturesIcons_placeholderWrapper__O88P1:has(section[class*='QuestLines']) {
  display: flex;
  max-width: none;
}
html .FeaturesIcons_placeholderWrapper__O88P1 section[class*='QuestLines'] {
  width: 84px;
}
html .FeaturesIcons_placeholderWrapper__O88P1:has(button[data-component*='chain-offer']) {
  display: flex;
  max-width: none;
}
html .FeaturesIcons_placeholderWrapper__O88P1 button[data-component*='chain-offer'] {
  width: 84px;
}
.TournamentsAnchor_tournamentsAnchor__66LCZ {
  position: relative;
  top: calc((68px + env(safe-area-inset-top) + 58px) * -1);
  width: 100%;
  height: 0;
}
@media screen and (min-width: 99999px) {
  .TournamentsAnchor_tournamentsAnchor__66LCZ {
    top: -117px;
  }
}
.styles_root__EZNv_ {
  background-color: #311d58;
  padding: 8px;
  height: 83px;
  flex: 1 auto;
}
@media (max-width: 99999px) {
  .styles_root__EZNv_ {
    min-width: 76px;
    height: 83px;
  }
}
.styles_rootWithLessSpace__iKLeu {
  padding-top: 5px;
  padding-bottom: 10px;
  height: 70px;
}
.styles_infoTitle__cwrjN {
  margin-bottom: 7px;
  font-size: 14px;
  font-weight: 700;
  color: var(--base-50);
  text-transform: uppercase;
}
.styles_infoBet__MhxkA {
  display: flex;
  align-items: baseline;
  gap: 4px;
  color: var(--base-30);
  font-size: 16px;
  font-weight: 700;
  line-height: 14px;
}
.styles_infoBetSingle__sKrLm {
  margin-top: 8px;
}
.styles_currency__Jyt6e {
  font-size: 12px;
  font-weight: 700;
}
.styles_skeleton__LdxEx {
  height: 22px;
  width: 100px;
}
@media screen and (max-width: 99999px) {
  .styles_skeleton__LdxEx {
    height: 34px;
  }
}
.styles_skeletonMaxMinSpin__tXPN6 {
  height: 14px;
  margin-bottom: 2px;
}
.styles_text__xeJae {
  display: flex;
  align-items: center;
}
.styles_jpInfoItem__gF6KS {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  padding: 5px 8px 10px;
  color: #8efffe;
  width: 48%;
  text-decoration: none;
}
@media (max-width: 99999px) and (orientation: portrait) {
  .styles_jpInfoItem__gF6KS {
    flex: 1 calc(50% - var(--spacing) * 4);
  }
}
.styles_jpInfoItem__gF6KS .styles_jpAmount__ofi3v {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: auto;
  gap: 4px;
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  line-height: 1;
  white-space: nowrap;
}
.styles_jpInfoItem__gF6KS .styles_jpAmountHuge__Au0Mm {
  font-size: 16px;
}
.styles_jpInfoItem__gF6KS .styles_jpAmountHuge__Au0Mm .styles_currencyName__RFxc4 {
  font-size: 14px;
}
.styles_jpInfoItem__gF6KS .styles_currencyName__RFxc4 {
  font-size: 16px;
}
.styles_jpInfoItemSC__g_509 {
  color: #c6ff77;
}
@media (max-width: 99999px) {
  .styles_gcOnlyInfoItem__GwJqZ {
    flex: 1 100%;
  }
}
.styles_head__b8EKt {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.styles_jpIcon__FvVft {
  margin-top: 4px;
}
.styles_currencyLabel__SjH__ {
  font-size: 10px;
  line-height: 1;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}
.styles_jptLink__S2Iwb {
  text-decoration: none;
}
.styles_jackpots___u_Ht {
  display: flex;
}
@media screen and (max-width: 99999px) {
  .styles_jackpots___u_Ht {
    order: -1;
  }
}
.styles_jackpotInfo__EEjt9 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 48px;
}
.styles_jackpotInfo__EEjt9 span {
  font-size: 18px;
}
.styles_button__pdJUE {
  color: #25ecff;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid;
}
.styles_button__pdJUE:hover {
  color: #1ec0d0;
}
.styles_button__pdJUE:hover img {
  filter: brightness(0) saturate(100%) invert(60%) sepia(59%) saturate(520%) hue-rotate(137deg)
    brightness(92%) contrast(103%);
}
.styles_button__pdJUE:focus {
  color: #026786;
}
.styles_button__pdJUE:focus img {
  filter: brightness(0) saturate(100%) invert(23%) sepia(77%) saturate(1980%) hue-rotate(171deg)
    brightness(94%) contrast(98%);
}
.styles_button__pdJUE:disabled {
  color: #487294;
}
.styles_button__pdJUE:disabled img {
  filter: brightness(0) saturate(100%) invert(41%) sepia(27%) saturate(685%) hue-rotate(165deg)
    brightness(97%) contrast(95%);
}
.styles_skeletonInfoItem__hUDHA.styles_skeletonInfoItem__hUDHA {
  height: 83px;
  width: calc(50% - 4px);
  min-width: 150px;
  flex: 1 1 auto;
}
@media (max-width: 99999px) and (orientation: portrait) {
  .styles_skeletonInfoItem__hUDHA.styles_skeletonInfoItem__hUDHA {
    flex: 1 calc(50% - var(--spacing) * 4);
  }
}
.styles_skeletonInfoBlock___L7r5.styles_skeletonInfoBlock___L7r5 {
  height: 48px;
  width: 100%;
}
.styles_root__BDr2J {
  display: flex;
  align-items: center;
  height: 56px;
  padding: 12px 12px 12px 16px;
  background-color: var(--base-10);
  margin: 0 24px;
  border-radius: 8px;
}
@media (max-width: 99999px) {
  .styles_root__BDr2J {
    height: 48px;
    margin: 0 12px;
  }
}
.styles_text__XDfoB {
  font-weight: var(--font-weight-medium);
  font-size: 14px;
  line-height: 1.4;
}
@media (max-width: 99999px) {
  .styles_text__XDfoB {
    font-size: 12px;
  }
}
.styles_title__bPXuZ {
  color: var(--base-50);
  margin-right: 3px;
}
.styles_provider__mCRI1 {
  color: var(--base-70);
}
.styles_icon__AYjtu {
  margin-left: auto;
  cursor: pointer;
}
