._default_ymz7g_1 {
  --base0: #1d092f;
  --base5: #3a125d;
  --base10: #4e187c;
  --base20: #7a468e;
  --base30: #c47ae5;
  --base40: #d79af3;
  --base50: #ecc3ff;
  --base60: #efd7fa;
  --base70: #ceb6d8;
  --base80: #cccccc;
  --base90: #e5e5e5;
  --base95: #f2f2f2;
  --base100: #ffffff;
  --brandAccentPrimary: #4e187c;
  --brandAccentPrimary75: #3a125d;
  --brandAccentPrimary50: #1d092f;
  --brandAccentPrimary40: #210f31;
  --brandAccentPrimary30: #25ecff;
  --brandAccentPrimary25: #07020c;
  --brandAccentSecondary: #92d63d;
  --brandAccentSecondary75: #6ea02e;
  --brandAccentSecondary50: #375017;
  --brandAccentSecondary25: #0e1406;
  --brandBase1: #1a1038;
  --brandBase2: #2a1c4d;
  --brand-interface: #1a1038;
  --brandInterfaceCanvas: #000000;
  --brandInterfaceModal: rgba(var(--brandBase1), 0.8);
  --brandInterfaceHeaderLvl1: var(--brandBase1);
  --brandInterfaceHeaderLvl2: var(--brandBase2);
  --border-radius-small: 4px;
  --border-radius-default: 16px;
  --border-radius-200: 200px;
  --pill-border-radius: 200px;
  --icon-primary-filter: brightness(0) saturate(100%) invert(28%) sepia(99%) saturate(6930%)
    hue-rotate(337deg) brightness(99%) contrast(97%);
  --body-color: #231845;
  --desktop-menu-color: #0c0c0c;
  --desktop-menu-block-color: #0c0c0c;
  --block-shadow: none;
  --textColorPrimary: var(--base50);
  --textColorSecondary: #fff;
  --pillHeight: 38px;
  --pillBg: var(--base20);
  --pillColor: rgba(var(--base40, 0.55));
  --activePillBg: var(--brandAccentSecondary);
  --activePillColor: var(--base50);
  --pillBoxShadow: none;
  --svgIconColor: var(--base100);
  --buttonBg: var(--base20);
  --inputBg: var(--base20);
  --selectBg: var(--base20);
  --disabledSelectBg: var(--base20);
  --validationTextColor: var(--base60);
  --pageBg: var(--base5);
  --iconFilter: none;
  --iconPrimaryFilter: none;
  --iconActiveFilter: none;
  --menuIconFilter: brightness(0) saturate(100%) invert(54%) sepia(96%) saturate(100%)
    hue-rotate(235deg) brightness(122%) contrast(94%);
  --menuActiveBgColor: rgba(236, 195, 255, 0.2);
  --menuActiveIconColor: brightness(0) saturate(100%) invert(83%) sepia(8%) saturate(3083%)
    hue-rotate(205deg) brightness(122%) contrast(104%);
  --menuTextColor: #b78ece;
  --menuActiveTextColor: var(--base50);
  --balanceBlockBg: var(--base10);
  --balanceBlockColor: #fff;
  --mobileDrawerBg: linear-gradient(172deg, #2a124c 3.15%, #451668 18.81%, #1a1038 94.09%);
  --mobileMenuIconFilter: none;
  --imageBlockBg: --brandInterfaceHeaderLvl2;
  --infoGameBg: #311d58;
  --searchBarDropdownBg: var(--base5);
  --jackpotListItemBg: #3a1f58;
  --jackpotInfoIconFilter: brightness(0) saturate(100%) invert(100%) sepia(4%) saturate(0%)
    hue-rotate(353deg) brightness(104%) contrast(100%);
  --jackpotInfoColor: var(--base100);
  --goldJackpotBg: linear-gradient(90.3deg, var(--brandBase1) 48.71%, #dcb119 99.94%);
  --sweepstakesJackpotBg: linear-gradient(89.85deg, var(--brandBase1) 39.05%, #1ab642 99.77%);
  --jackpotColor: var(--base100);
  --jackpotContributionBadgeBg: rgba(#0c0c0c, 0.8);
  --jackpotGcContributionAmountColor: var(--brand-accent-primary);
  --favoriteButtonFilter: none;
  --redeemHeaderBg: transparent;
  --offerCaptionColor: #333333;
  --jumioKycBackdropBg: var(--base10);
  --spinner-color: #ffc107;
  --layoutBorderColor: #533b92;
  --brandGradient1: linear-gradient(135deg, #1c1c1c 0%, #0c0c0c 100%);
  --error: #ff5252;
  --success: #11df16;
  --info: #2a9cff;
  --warning: #e79900;
  --sizing0d125Rem: 2px;
  --sizing0d25Rem: 4px;
  --sizing0d5Rem: 8px;
  --sizing0d75Rem: 12px;
  --spacing0d125Rem: 2px;
  --spacing0d25Rem: 4px;
  --spacing0d5Rem: 8px;
  --spacing0d75Rem: 12px;
  --spacing1Rem: 16px;
  --sizing1Rem: 16px;
  --sizing1d25Rem: 20px;
  --sizing1d5Rem: 24px;
  --sizing1d75Rem: 28px;
  --sizing2Rem: 32px;
  --sizing2d5Rem: 40px;
  --sizing3Rem: 48px;
  --sizing3d5Rem: 56px;
  --sizing4Rem: 64px;
  --sizing4d5Rem: 72px;
  --sizing5Rem: 80px;
  --spacing1d25Rem: 20px;
  --spacing1d5Rem: 24px;
  --spacing1d75Rem: 28px;
  --spacing2Rem: 32px;
  --spacing2d5Rem: 40px;
  --spacing3Rem: 48px;
  --spacing3d5Rem: 56px;
  --spacing4Rem: 64px;
  --spacing4d5Rem: 72px;
  --spacing5Rem: 80px;
  --fontFamilyPrimary: Ubuntu, Helvetica, Arial, sans-serif;
  --fontWeightPrimaryBold: 500;
  --fontWeightPrimaryRegular: 400;
  --font2XS: 8px;
  --fontXS: 10px;
  --fontSM: 12px;
  --fontMD: 14px;
  --fontLG: 16px;
  --fontXL: 20px;
  --font2XL: 24px;
  --font3XL: 32px;
  --font4XL: 40px;
  --font5XL: 48px;
  --lineMD: 140%;
  --lineLG: 120%;
  --lineXL: 100%;
  --textCaseNone: none;
  --textCaseUpperCase: uppercase;
  --radiusNone: 0px;
  --radiusXS: 2px;
  --radiusSM: 8px;
  --radiusMD: 12px;
  --radiusLG: 16px;
  --radiusXL: 24px;
  --radiusFull: 200px;
  --textDecNone: none;
  --textDecUnderline: underline;
  --textDecThrough: line-through;
  --textCaseCapitalize: capitalize;
  --borderSM: 1px;
  --borderMD: 2px;
  --borderLG: 4px;
  --opacity0: 0%;
  --opacity10: 10%;
  --opacity20: 20%;
  --opacity30: 30%;
  --opacity40: 40%;
  --opacity50: 50%;
  --opacity60: 60%;
  --opacity70: 70%;
  --opacity80: 80%;
  --opacity90: 90%;
  --opacity100: 100%;
  --paragraphNone: 0px;
  --paragraphSM: 4px;
  --paragraphMD: 8px;
  --paragraphLG: 16px;
  --paragraphXL: 24px;
  --letterSpacingDefault: 0%;
  --letterSpacingMinus: -5%;
  --letterSpacingExtra: 5%;
  --xs: 927px;
  --sm: 933px;
  --md: 992px;
  --lg: 1200px;
  --xlg: 1440px;
  --xl: 1920px;
  --maxContentWidth: 1160px;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;
  --primary-white: #ffffff;
  --text-secondary-dark: rgba(255, 255, 255, 0.87);
  --error-light: #e57373;
  --sweep-gradient: linear-gradient(-135deg, #1bee02 0.56%, #00ad45 100%);
  --contrast-text-secondary-87-dark: rgba(255, 255, 255, 0.87);
  --contrast-text-secondary-54: rgba(0, 0, 0, 0.54);
  --contrast-text-secondary-23: rgba(0, 0, 0, 0.23);
  --error-main: #f44336;
  --primary-main: #70b5f9;
  --z-negative: -1;
  --z-default: 0;
  --z-1: 1;
  --z-2: 2;
  --z-layout: 3;
  --z-multiplay-info: 4;
  --z-10: 10;
  --z-modal: 100;
  --z-error: 9999;
  --error-dark: #d32f2f;
  --inputBgColor: var(--base20);
  --inputTextColor: var(--base100);
  --inputFontSize: var(--fontMD);
  --inputLabelColor: var(--base100);
  --inputLabelFontSize: var(--fontSM);
  --inputPlaceholderTextColor: var(--base60);
  --inputBorderRadius: var(--border-radius-default);
  --inputErrorTextColor: var(--error);
  --inputErrorBorderWidth: var(--borderSM);
  --inputErrorBorderColor: var(--error);
  --inputHoverBorderWidth: var(--borderSM);
  --inputHoverBorderColor: rgba(var(--base100-rgb), 0.87);
  --inputFocusedBorderWidth: var(--borderSM);
  --inputFocusedBorderColor: rgba(var(--base100-rgb), 0.87);
  --inputDisabledBgColor: var(--base20);
  --inputDisabledTextColor: var(--base60);
  --datepickerCalendarBg: var(--base0);
  --datepickerLabelColor: var(--base80);
  --inputPasswordIconColor: var(--validationTextColor);
  --inputAutofillTextColor: var(--base60);
  --inputAutofillBgColor: var(--base0);
  --selectFocusedBorderWidth: var(--borderMD);
  --selectFocusedBorderColor: var(--primary-main);
  --selectEmptyTextColor: var(--base60);
  --selectOptionBg: var(--base0);
}
._button_ymz7g_703 {
  padding: 0;
  border: 0;
  margin: var(--spacing1Rem) 0 0 auto;
  color: var(--soft-kyc-form-link-button-color, var(--base100));
  text-decoration: underline;
  background: transparent;
  outline: none;
  cursor: pointer;
}
._container_ymz7g_714 {
  display: flex;
  flex-direction: column;
}
._default_1jal4_1 {
  --base0: #1d092f;
  --base5: #3a125d;
  --base10: #4e187c;
  --base20: #7a468e;
  --base30: #c47ae5;
  --base40: #d79af3;
  --base50: #ecc3ff;
  --base60: #efd7fa;
  --base70: #ceb6d8;
  --base80: #cccccc;
  --base90: #e5e5e5;
  --base95: #f2f2f2;
  --base100: #ffffff;
  --brandAccentPrimary: #4e187c;
  --brandAccentPrimary75: #3a125d;
  --brandAccentPrimary50: #1d092f;
  --brandAccentPrimary40: #210f31;
  --brandAccentPrimary30: #25ecff;
  --brandAccentPrimary25: #07020c;
  --brandAccentSecondary: #92d63d;
  --brandAccentSecondary75: #6ea02e;
  --brandAccentSecondary50: #375017;
  --brandAccentSecondary25: #0e1406;
  --brandBase1: #1a1038;
  --brandBase2: #2a1c4d;
  --brand-interface: #1a1038;
  --brandInterfaceCanvas: #000000;
  --brandInterfaceModal: rgba(var(--brandBase1), 0.8);
  --brandInterfaceHeaderLvl1: var(--brandBase1);
  --brandInterfaceHeaderLvl2: var(--brandBase2);
  --border-radius-small: 4px;
  --border-radius-default: 16px;
  --border-radius-200: 200px;
  --pill-border-radius: 200px;
  --icon-primary-filter: brightness(0) saturate(100%) invert(28%) sepia(99%) saturate(6930%)
    hue-rotate(337deg) brightness(99%) contrast(97%);
  --body-color: #231845;
  --desktop-menu-color: #0c0c0c;
  --desktop-menu-block-color: #0c0c0c;
  --block-shadow: none;
  --textColorPrimary: var(--base50);
  --textColorSecondary: #fff;
  --pillHeight: 38px;
  --pillBg: var(--base20);
  --pillColor: rgba(var(--base40, 0.55));
  --activePillBg: var(--brandAccentSecondary);
  --activePillColor: var(--base50);
  --pillBoxShadow: none;
  --svgIconColor: var(--base100);
  --buttonBg: var(--base20);
  --inputBg: var(--base20);
  --selectBg: var(--base20);
  --disabledSelectBg: var(--base20);
  --validationTextColor: var(--base60);
  --pageBg: var(--base5);
  --iconFilter: none;
  --iconPrimaryFilter: none;
  --iconActiveFilter: none;
  --menuIconFilter: brightness(0) saturate(100%) invert(54%) sepia(96%) saturate(100%)
    hue-rotate(235deg) brightness(122%) contrast(94%);
  --menuActiveBgColor: rgba(236, 195, 255, 0.2);
  --menuActiveIconColor: brightness(0) saturate(100%) invert(83%) sepia(8%) saturate(3083%)
    hue-rotate(205deg) brightness(122%) contrast(104%);
  --menuTextColor: #b78ece;
  --menuActiveTextColor: var(--base50);
  --balanceBlockBg: var(--base10);
  --balanceBlockColor: #fff;
  --mobileDrawerBg: linear-gradient(172deg, #2a124c 3.15%, #451668 18.81%, #1a1038 94.09%);
  --mobileMenuIconFilter: none;
  --imageBlockBg: --brandInterfaceHeaderLvl2;
  --infoGameBg: #311d58;
  --searchBarDropdownBg: var(--base5);
  --jackpotListItemBg: #3a1f58;
  --jackpotInfoIconFilter: brightness(0) saturate(100%) invert(100%) sepia(4%) saturate(0%)
    hue-rotate(353deg) brightness(104%) contrast(100%);
  --jackpotInfoColor: var(--base100);
  --goldJackpotBg: linear-gradient(90.3deg, var(--brandBase1) 48.71%, #dcb119 99.94%);
  --sweepstakesJackpotBg: linear-gradient(89.85deg, var(--brandBase1) 39.05%, #1ab642 99.77%);
  --jackpotColor: var(--base100);
  --jackpotContributionBadgeBg: rgba(#0c0c0c, 0.8);
  --jackpotGcContributionAmountColor: var(--brand-accent-primary);
  --favoriteButtonFilter: none;
  --redeemHeaderBg: transparent;
  --offerCaptionColor: #333333;
  --jumioKycBackdropBg: var(--base10);
  --spinner-color: #ffc107;
  --layoutBorderColor: #533b92;
  --brandGradient1: linear-gradient(135deg, #1c1c1c 0%, #0c0c0c 100%);
  --error: #ff5252;
  --success: #11df16;
  --info: #2a9cff;
  --warning: #e79900;
  --sizing0d125Rem: 2px;
  --sizing0d25Rem: 4px;
  --sizing0d5Rem: 8px;
  --sizing0d75Rem: 12px;
  --spacing0d125Rem: 2px;
  --spacing0d25Rem: 4px;
  --spacing0d5Rem: 8px;
  --spacing0d75Rem: 12px;
  --spacing1Rem: 16px;
  --sizing1Rem: 16px;
  --sizing1d25Rem: 20px;
  --sizing1d5Rem: 24px;
  --sizing1d75Rem: 28px;
  --sizing2Rem: 32px;
  --sizing2d5Rem: 40px;
  --sizing3Rem: 48px;
  --sizing3d5Rem: 56px;
  --sizing4Rem: 64px;
  --sizing4d5Rem: 72px;
  --sizing5Rem: 80px;
  --spacing1d25Rem: 20px;
  --spacing1d5Rem: 24px;
  --spacing1d75Rem: 28px;
  --spacing2Rem: 32px;
  --spacing2d5Rem: 40px;
  --spacing3Rem: 48px;
  --spacing3d5Rem: 56px;
  --spacing4Rem: 64px;
  --spacing4d5Rem: 72px;
  --spacing5Rem: 80px;
  --fontFamilyPrimary: Ubuntu, Helvetica, Arial, sans-serif;
  --fontWeightPrimaryBold: 500;
  --fontWeightPrimaryRegular: 400;
  --font2XS: 8px;
  --fontXS: 10px;
  --fontSM: 12px;
  --fontMD: 14px;
  --fontLG: 16px;
  --fontXL: 20px;
  --font2XL: 24px;
  --font3XL: 32px;
  --font4XL: 40px;
  --font5XL: 48px;
  --lineMD: 140%;
  --lineLG: 120%;
  --lineXL: 100%;
  --textCaseNone: none;
  --textCaseUpperCase: uppercase;
  --radiusNone: 0px;
  --radiusXS: 2px;
  --radiusSM: 8px;
  --radiusMD: 12px;
  --radiusLG: 16px;
  --radiusXL: 24px;
  --radiusFull: 200px;
  --textDecNone: none;
  --textDecUnderline: underline;
  --textDecThrough: line-through;
  --textCaseCapitalize: capitalize;
  --borderSM: 1px;
  --borderMD: 2px;
  --borderLG: 4px;
  --opacity0: 0%;
  --opacity10: 10%;
  --opacity20: 20%;
  --opacity30: 30%;
  --opacity40: 40%;
  --opacity50: 50%;
  --opacity60: 60%;
  --opacity70: 70%;
  --opacity80: 80%;
  --opacity90: 90%;
  --opacity100: 100%;
  --paragraphNone: 0px;
  --paragraphSM: 4px;
  --paragraphMD: 8px;
  --paragraphLG: 16px;
  --paragraphXL: 24px;
  --letterSpacingDefault: 0%;
  --letterSpacingMinus: -5%;
  --letterSpacingExtra: 5%;
  --xs: 927px;
  --sm: 933px;
  --md: 992px;
  --lg: 1200px;
  --xlg: 1440px;
  --xl: 1920px;
  --maxContentWidth: 1160px;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;
  --primary-white: #ffffff;
  --text-secondary-dark: rgba(255, 255, 255, 0.87);
  --error-light: #e57373;
  --sweep-gradient: linear-gradient(-135deg, #1bee02 0.56%, #00ad45 100%);
  --contrast-text-secondary-87-dark: rgba(255, 255, 255, 0.87);
  --contrast-text-secondary-54: rgba(0, 0, 0, 0.54);
  --contrast-text-secondary-23: rgba(0, 0, 0, 0.23);
  --error-main: #f44336;
  --primary-main: #70b5f9;
  --z-negative: -1;
  --z-default: 0;
  --z-1: 1;
  --z-2: 2;
  --z-layout: 3;
  --z-multiplay-info: 4;
  --z-10: 10;
  --z-modal: 100;
  --z-error: 9999;
  --error-dark: #d32f2f;
  --inputBgColor: var(--base20);
  --inputTextColor: var(--base100);
  --inputFontSize: var(--fontMD);
  --inputLabelColor: var(--base100);
  --inputLabelFontSize: var(--fontSM);
  --inputPlaceholderTextColor: var(--base60);
  --inputBorderRadius: var(--border-radius-default);
  --inputErrorTextColor: var(--error);
  --inputErrorBorderWidth: var(--borderSM);
  --inputErrorBorderColor: var(--error);
  --inputHoverBorderWidth: var(--borderSM);
  --inputHoverBorderColor: rgba(var(--base100-rgb), 0.87);
  --inputFocusedBorderWidth: var(--borderSM);
  --inputFocusedBorderColor: rgba(var(--base100-rgb), 0.87);
  --inputDisabledBgColor: var(--base20);
  --inputDisabledTextColor: var(--base60);
  --datepickerCalendarBg: var(--base0);
  --datepickerLabelColor: var(--base80);
  --inputPasswordIconColor: var(--validationTextColor);
  --inputAutofillTextColor: var(--base60);
  --inputAutofillBgColor: var(--base0);
  --selectFocusedBorderWidth: var(--borderMD);
  --selectFocusedBorderColor: var(--primary-main);
  --selectEmptyTextColor: var(--base60);
  --selectOptionBg: var(--base0);
}
._location_1jal4_703 path {
  fill: var(--base100);
}
._default_dvz60_1 {
  --base0: #1d092f;
  --base5: #3a125d;
  --base10: #4e187c;
  --base20: #7a468e;
  --base30: #c47ae5;
  --base40: #d79af3;
  --base50: #ecc3ff;
  --base60: #efd7fa;
  --base70: #ceb6d8;
  --base80: #cccccc;
  --base90: #e5e5e5;
  --base95: #f2f2f2;
  --base100: #ffffff;
  --brandAccentPrimary: #4e187c;
  --brandAccentPrimary75: #3a125d;
  --brandAccentPrimary50: #1d092f;
  --brandAccentPrimary40: #210f31;
  --brandAccentPrimary30: #25ecff;
  --brandAccentPrimary25: #07020c;
  --brandAccentSecondary: #92d63d;
  --brandAccentSecondary75: #6ea02e;
  --brandAccentSecondary50: #375017;
  --brandAccentSecondary25: #0e1406;
  --brandBase1: #1a1038;
  --brandBase2: #2a1c4d;
  --brand-interface: #1a1038;
  --brandInterfaceCanvas: #000000;
  --brandInterfaceModal: rgba(var(--brandBase1), 0.8);
  --brandInterfaceHeaderLvl1: var(--brandBase1);
  --brandInterfaceHeaderLvl2: var(--brandBase2);
  --border-radius-small: 4px;
  --border-radius-default: 16px;
  --border-radius-200: 200px;
  --pill-border-radius: 200px;
  --icon-primary-filter: brightness(0) saturate(100%) invert(28%) sepia(99%) saturate(6930%)
    hue-rotate(337deg) brightness(99%) contrast(97%);
  --body-color: #231845;
  --desktop-menu-color: #0c0c0c;
  --desktop-menu-block-color: #0c0c0c;
  --block-shadow: none;
  --textColorPrimary: var(--base50);
  --textColorSecondary: #fff;
  --pillHeight: 38px;
  --pillBg: var(--base20);
  --pillColor: rgba(var(--base40, 0.55));
  --activePillBg: var(--brandAccentSecondary);
  --activePillColor: var(--base50);
  --pillBoxShadow: none;
  --svgIconColor: var(--base100);
  --buttonBg: var(--base20);
  --inputBg: var(--base20);
  --selectBg: var(--base20);
  --disabledSelectBg: var(--base20);
  --validationTextColor: var(--base60);
  --pageBg: var(--base5);
  --iconFilter: none;
  --iconPrimaryFilter: none;
  --iconActiveFilter: none;
  --menuIconFilter: brightness(0) saturate(100%) invert(54%) sepia(96%) saturate(100%)
    hue-rotate(235deg) brightness(122%) contrast(94%);
  --menuActiveBgColor: rgba(236, 195, 255, 0.2);
  --menuActiveIconColor: brightness(0) saturate(100%) invert(83%) sepia(8%) saturate(3083%)
    hue-rotate(205deg) brightness(122%) contrast(104%);
  --menuTextColor: #b78ece;
  --menuActiveTextColor: var(--base50);
  --balanceBlockBg: var(--base10);
  --balanceBlockColor: #fff;
  --mobileDrawerBg: linear-gradient(172deg, #2a124c 3.15%, #451668 18.81%, #1a1038 94.09%);
  --mobileMenuIconFilter: none;
  --imageBlockBg: --brandInterfaceHeaderLvl2;
  --infoGameBg: #311d58;
  --searchBarDropdownBg: var(--base5);
  --jackpotListItemBg: #3a1f58;
  --jackpotInfoIconFilter: brightness(0) saturate(100%) invert(100%) sepia(4%) saturate(0%)
    hue-rotate(353deg) brightness(104%) contrast(100%);
  --jackpotInfoColor: var(--base100);
  --goldJackpotBg: linear-gradient(90.3deg, var(--brandBase1) 48.71%, #dcb119 99.94%);
  --sweepstakesJackpotBg: linear-gradient(89.85deg, var(--brandBase1) 39.05%, #1ab642 99.77%);
  --jackpotColor: var(--base100);
  --jackpotContributionBadgeBg: rgba(#0c0c0c, 0.8);
  --jackpotGcContributionAmountColor: var(--brand-accent-primary);
  --favoriteButtonFilter: none;
  --redeemHeaderBg: transparent;
  --offerCaptionColor: #333333;
  --jumioKycBackdropBg: var(--base10);
  --spinner-color: #ffc107;
  --layoutBorderColor: #533b92;
  --brandGradient1: linear-gradient(135deg, #1c1c1c 0%, #0c0c0c 100%);
  --error: #ff5252;
  --success: #11df16;
  --info: #2a9cff;
  --warning: #e79900;
  --sizing0d125Rem: 2px;
  --sizing0d25Rem: 4px;
  --sizing0d5Rem: 8px;
  --sizing0d75Rem: 12px;
  --spacing0d125Rem: 2px;
  --spacing0d25Rem: 4px;
  --spacing0d5Rem: 8px;
  --spacing0d75Rem: 12px;
  --spacing1Rem: 16px;
  --sizing1Rem: 16px;
  --sizing1d25Rem: 20px;
  --sizing1d5Rem: 24px;
  --sizing1d75Rem: 28px;
  --sizing2Rem: 32px;
  --sizing2d5Rem: 40px;
  --sizing3Rem: 48px;
  --sizing3d5Rem: 56px;
  --sizing4Rem: 64px;
  --sizing4d5Rem: 72px;
  --sizing5Rem: 80px;
  --spacing1d25Rem: 20px;
  --spacing1d5Rem: 24px;
  --spacing1d75Rem: 28px;
  --spacing2Rem: 32px;
  --spacing2d5Rem: 40px;
  --spacing3Rem: 48px;
  --spacing3d5Rem: 56px;
  --spacing4Rem: 64px;
  --spacing4d5Rem: 72px;
  --spacing5Rem: 80px;
  --fontFamilyPrimary: Ubuntu, Helvetica, Arial, sans-serif;
  --fontWeightPrimaryBold: 500;
  --fontWeightPrimaryRegular: 400;
  --font2XS: 8px;
  --fontXS: 10px;
  --fontSM: 12px;
  --fontMD: 14px;
  --fontLG: 16px;
  --fontXL: 20px;
  --font2XL: 24px;
  --font3XL: 32px;
  --font4XL: 40px;
  --font5XL: 48px;
  --lineMD: 140%;
  --lineLG: 120%;
  --lineXL: 100%;
  --textCaseNone: none;
  --textCaseUpperCase: uppercase;
  --radiusNone: 0px;
  --radiusXS: 2px;
  --radiusSM: 8px;
  --radiusMD: 12px;
  --radiusLG: 16px;
  --radiusXL: 24px;
  --radiusFull: 200px;
  --textDecNone: none;
  --textDecUnderline: underline;
  --textDecThrough: line-through;
  --textCaseCapitalize: capitalize;
  --borderSM: 1px;
  --borderMD: 2px;
  --borderLG: 4px;
  --opacity0: 0%;
  --opacity10: 10%;
  --opacity20: 20%;
  --opacity30: 30%;
  --opacity40: 40%;
  --opacity50: 50%;
  --opacity60: 60%;
  --opacity70: 70%;
  --opacity80: 80%;
  --opacity90: 90%;
  --opacity100: 100%;
  --paragraphNone: 0px;
  --paragraphSM: 4px;
  --paragraphMD: 8px;
  --paragraphLG: 16px;
  --paragraphXL: 24px;
  --letterSpacingDefault: 0%;
  --letterSpacingMinus: -5%;
  --letterSpacingExtra: 5%;
  --xs: 927px;
  --sm: 933px;
  --md: 992px;
  --lg: 1200px;
  --xlg: 1440px;
  --xl: 1920px;
  --maxContentWidth: 1160px;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;
  --primary-white: #ffffff;
  --text-secondary-dark: rgba(255, 255, 255, 0.87);
  --error-light: #e57373;
  --sweep-gradient: linear-gradient(-135deg, #1bee02 0.56%, #00ad45 100%);
  --contrast-text-secondary-87-dark: rgba(255, 255, 255, 0.87);
  --contrast-text-secondary-54: rgba(0, 0, 0, 0.54);
  --contrast-text-secondary-23: rgba(0, 0, 0, 0.23);
  --error-main: #f44336;
  --primary-main: #70b5f9;
  --z-negative: -1;
  --z-default: 0;
  --z-1: 1;
  --z-2: 2;
  --z-layout: 3;
  --z-multiplay-info: 4;
  --z-10: 10;
  --z-modal: 100;
  --z-error: 9999;
  --error-dark: #d32f2f;
  --inputBgColor: var(--base20);
  --inputTextColor: var(--base100);
  --inputFontSize: var(--fontMD);
  --inputLabelColor: var(--base100);
  --inputLabelFontSize: var(--fontSM);
  --inputPlaceholderTextColor: var(--base60);
  --inputBorderRadius: var(--border-radius-default);
  --inputErrorTextColor: var(--error);
  --inputErrorBorderWidth: var(--borderSM);
  --inputErrorBorderColor: var(--error);
  --inputHoverBorderWidth: var(--borderSM);
  --inputHoverBorderColor: rgba(var(--base100-rgb), 0.87);
  --inputFocusedBorderWidth: var(--borderSM);
  --inputFocusedBorderColor: rgba(var(--base100-rgb), 0.87);
  --inputDisabledBgColor: var(--base20);
  --inputDisabledTextColor: var(--base60);
  --datepickerCalendarBg: var(--base0);
  --datepickerLabelColor: var(--base80);
  --inputPasswordIconColor: var(--validationTextColor);
  --inputAutofillTextColor: var(--base60);
  --inputAutofillBgColor: var(--base0);
  --selectFocusedBorderWidth: var(--borderMD);
  --selectFocusedBorderColor: var(--primary-main);
  --selectEmptyTextColor: var(--base60);
  --selectOptionBg: var(--base0);
}
._item_dvz60_703 {
  display: flex;
  align-items: center;
  gap: var(--spacing0d5Rem);
  padding: var(--spacing1Rem);
  cursor: pointer;
  background: var(--base20);
  border-radius: var(--radiusLG);
}
._item_dvz60_703:hover {
  background: var(--base30);
}
._item_dvz60_703 ._mainText_dvz60_715 {
  color: var(--base100);
}
._item_dvz60_703 ._entries_dvz60_718 {
  margin-left: auto;
}
._default_a9dpv_1 {
  --base0: #1d092f;
  --base5: #3a125d;
  --base10: #4e187c;
  --base20: #7a468e;
  --base30: #c47ae5;
  --base40: #d79af3;
  --base50: #ecc3ff;
  --base60: #efd7fa;
  --base70: #ceb6d8;
  --base80: #cccccc;
  --base90: #e5e5e5;
  --base95: #f2f2f2;
  --base100: #ffffff;
  --brandAccentPrimary: #4e187c;
  --brandAccentPrimary75: #3a125d;
  --brandAccentPrimary50: #1d092f;
  --brandAccentPrimary40: #210f31;
  --brandAccentPrimary30: #25ecff;
  --brandAccentPrimary25: #07020c;
  --brandAccentSecondary: #92d63d;
  --brandAccentSecondary75: #6ea02e;
  --brandAccentSecondary50: #375017;
  --brandAccentSecondary25: #0e1406;
  --brandBase1: #1a1038;
  --brandBase2: #2a1c4d;
  --brand-interface: #1a1038;
  --brandInterfaceCanvas: #000000;
  --brandInterfaceModal: rgba(var(--brandBase1), 0.8);
  --brandInterfaceHeaderLvl1: var(--brandBase1);
  --brandInterfaceHeaderLvl2: var(--brandBase2);
  --border-radius-small: 4px;
  --border-radius-default: 16px;
  --border-radius-200: 200px;
  --pill-border-radius: 200px;
  --icon-primary-filter: brightness(0) saturate(100%) invert(28%) sepia(99%) saturate(6930%)
    hue-rotate(337deg) brightness(99%) contrast(97%);
  --body-color: #231845;
  --desktop-menu-color: #0c0c0c;
  --desktop-menu-block-color: #0c0c0c;
  --block-shadow: none;
  --textColorPrimary: var(--base50);
  --textColorSecondary: #fff;
  --pillHeight: 38px;
  --pillBg: var(--base20);
  --pillColor: rgba(var(--base40, 0.55));
  --activePillBg: var(--brandAccentSecondary);
  --activePillColor: var(--base50);
  --pillBoxShadow: none;
  --svgIconColor: var(--base100);
  --buttonBg: var(--base20);
  --inputBg: var(--base20);
  --selectBg: var(--base20);
  --disabledSelectBg: var(--base20);
  --validationTextColor: var(--base60);
  --pageBg: var(--base5);
  --iconFilter: none;
  --iconPrimaryFilter: none;
  --iconActiveFilter: none;
  --menuIconFilter: brightness(0) saturate(100%) invert(54%) sepia(96%) saturate(100%)
    hue-rotate(235deg) brightness(122%) contrast(94%);
  --menuActiveBgColor: rgba(236, 195, 255, 0.2);
  --menuActiveIconColor: brightness(0) saturate(100%) invert(83%) sepia(8%) saturate(3083%)
    hue-rotate(205deg) brightness(122%) contrast(104%);
  --menuTextColor: #b78ece;
  --menuActiveTextColor: var(--base50);
  --balanceBlockBg: var(--base10);
  --balanceBlockColor: #fff;
  --mobileDrawerBg: linear-gradient(172deg, #2a124c 3.15%, #451668 18.81%, #1a1038 94.09%);
  --mobileMenuIconFilter: none;
  --imageBlockBg: --brandInterfaceHeaderLvl2;
  --infoGameBg: #311d58;
  --searchBarDropdownBg: var(--base5);
  --jackpotListItemBg: #3a1f58;
  --jackpotInfoIconFilter: brightness(0) saturate(100%) invert(100%) sepia(4%) saturate(0%)
    hue-rotate(353deg) brightness(104%) contrast(100%);
  --jackpotInfoColor: var(--base100);
  --goldJackpotBg: linear-gradient(90.3deg, var(--brandBase1) 48.71%, #dcb119 99.94%);
  --sweepstakesJackpotBg: linear-gradient(89.85deg, var(--brandBase1) 39.05%, #1ab642 99.77%);
  --jackpotColor: var(--base100);
  --jackpotContributionBadgeBg: rgba(#0c0c0c, 0.8);
  --jackpotGcContributionAmountColor: var(--brand-accent-primary);
  --favoriteButtonFilter: none;
  --redeemHeaderBg: transparent;
  --offerCaptionColor: #333333;
  --jumioKycBackdropBg: var(--base10);
  --spinner-color: #ffc107;
  --layoutBorderColor: #533b92;
  --brandGradient1: linear-gradient(135deg, #1c1c1c 0%, #0c0c0c 100%);
  --error: #ff5252;
  --success: #11df16;
  --info: #2a9cff;
  --warning: #e79900;
  --sizing0d125Rem: 2px;
  --sizing0d25Rem: 4px;
  --sizing0d5Rem: 8px;
  --sizing0d75Rem: 12px;
  --spacing0d125Rem: 2px;
  --spacing0d25Rem: 4px;
  --spacing0d5Rem: 8px;
  --spacing0d75Rem: 12px;
  --spacing1Rem: 16px;
  --sizing1Rem: 16px;
  --sizing1d25Rem: 20px;
  --sizing1d5Rem: 24px;
  --sizing1d75Rem: 28px;
  --sizing2Rem: 32px;
  --sizing2d5Rem: 40px;
  --sizing3Rem: 48px;
  --sizing3d5Rem: 56px;
  --sizing4Rem: 64px;
  --sizing4d5Rem: 72px;
  --sizing5Rem: 80px;
  --spacing1d25Rem: 20px;
  --spacing1d5Rem: 24px;
  --spacing1d75Rem: 28px;
  --spacing2Rem: 32px;
  --spacing2d5Rem: 40px;
  --spacing3Rem: 48px;
  --spacing3d5Rem: 56px;
  --spacing4Rem: 64px;
  --spacing4d5Rem: 72px;
  --spacing5Rem: 80px;
  --fontFamilyPrimary: Ubuntu, Helvetica, Arial, sans-serif;
  --fontWeightPrimaryBold: 500;
  --fontWeightPrimaryRegular: 400;
  --font2XS: 8px;
  --fontXS: 10px;
  --fontSM: 12px;
  --fontMD: 14px;
  --fontLG: 16px;
  --fontXL: 20px;
  --font2XL: 24px;
  --font3XL: 32px;
  --font4XL: 40px;
  --font5XL: 48px;
  --lineMD: 140%;
  --lineLG: 120%;
  --lineXL: 100%;
  --textCaseNone: none;
  --textCaseUpperCase: uppercase;
  --radiusNone: 0px;
  --radiusXS: 2px;
  --radiusSM: 8px;
  --radiusMD: 12px;
  --radiusLG: 16px;
  --radiusXL: 24px;
  --radiusFull: 200px;
  --textDecNone: none;
  --textDecUnderline: underline;
  --textDecThrough: line-through;
  --textCaseCapitalize: capitalize;
  --borderSM: 1px;
  --borderMD: 2px;
  --borderLG: 4px;
  --opacity0: 0%;
  --opacity10: 10%;
  --opacity20: 20%;
  --opacity30: 30%;
  --opacity40: 40%;
  --opacity50: 50%;
  --opacity60: 60%;
  --opacity70: 70%;
  --opacity80: 80%;
  --opacity90: 90%;
  --opacity100: 100%;
  --paragraphNone: 0px;
  --paragraphSM: 4px;
  --paragraphMD: 8px;
  --paragraphLG: 16px;
  --paragraphXL: 24px;
  --letterSpacingDefault: 0%;
  --letterSpacingMinus: -5%;
  --letterSpacingExtra: 5%;
  --xs: 927px;
  --sm: 933px;
  --md: 992px;
  --lg: 1200px;
  --xlg: 1440px;
  --xl: 1920px;
  --maxContentWidth: 1160px;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;
  --primary-white: #ffffff;
  --text-secondary-dark: rgba(255, 255, 255, 0.87);
  --error-light: #e57373;
  --sweep-gradient: linear-gradient(-135deg, #1bee02 0.56%, #00ad45 100%);
  --contrast-text-secondary-87-dark: rgba(255, 255, 255, 0.87);
  --contrast-text-secondary-54: rgba(0, 0, 0, 0.54);
  --contrast-text-secondary-23: rgba(0, 0, 0, 0.23);
  --error-main: #f44336;
  --primary-main: #70b5f9;
  --z-negative: -1;
  --z-default: 0;
  --z-1: 1;
  --z-2: 2;
  --z-layout: 3;
  --z-multiplay-info: 4;
  --z-10: 10;
  --z-modal: 100;
  --z-error: 9999;
  --error-dark: #d32f2f;
  --inputBgColor: var(--base20);
  --inputTextColor: var(--base100);
  --inputFontSize: var(--fontMD);
  --inputLabelColor: var(--base100);
  --inputLabelFontSize: var(--fontSM);
  --inputPlaceholderTextColor: var(--base60);
  --inputBorderRadius: var(--border-radius-default);
  --inputErrorTextColor: var(--error);
  --inputErrorBorderWidth: var(--borderSM);
  --inputErrorBorderColor: var(--error);
  --inputHoverBorderWidth: var(--borderSM);
  --inputHoverBorderColor: rgba(var(--base100-rgb), 0.87);
  --inputFocusedBorderWidth: var(--borderSM);
  --inputFocusedBorderColor: rgba(var(--base100-rgb), 0.87);
  --inputDisabledBgColor: var(--base20);
  --inputDisabledTextColor: var(--base60);
  --datepickerCalendarBg: var(--base0);
  --datepickerLabelColor: var(--base80);
  --inputPasswordIconColor: var(--validationTextColor);
  --inputAutofillTextColor: var(--base60);
  --inputAutofillBgColor: var(--base0);
  --selectFocusedBorderWidth: var(--borderMD);
  --selectFocusedBorderColor: var(--primary-main);
  --selectEmptyTextColor: var(--base60);
  --selectOptionBg: var(--base0);
}
._root_a9dpv_703 {
  width: 100%;
  height: var(--sizing3Rem);
  position: relative;
  display: inline-flex;
  align-items: center;
  padding-left: var(--spacing1Rem);
  padding-right: var(--spacing1Rem);
  border-radius: var(border-radius-default);
  transition: all 0.3s ease-in-out;
}
._root_a9dpv_703._focused_a9dpv_714 {
  outline-width: 2px;
  background: var(--base30);
}
._root_a9dpv_703._active_a9dpv_718 {
  background: var(--base30);
}
._root_a9dpv_703 label {
  top: -6px;
  left: 10px;
  position: absolute;
  font-size: var(--fontMD);
  padding-left: 5px;
  padding-right: 5px;
  line-height: 1;
  color: var(--base60);
  background: var(--base20);
}
._input_a9dpv_733 {
  width: 100%;
  padding-top: var(--spacing1Rem);
  padding-bottom: var(--spacing1Rem);
  outline: none;
  font: inherit;
  border: none;
  color: var(--soft-kyc-form-search-input-color, var(--base100));
  background-color: var(--inputBg);
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}
._input_a9dpv_733:-webkit-autofill,
._input_a9dpv_733:-webkit-autofill:hover,
._input_a9dpv_733:-webkit-autofill:focus,
._input_a9dpv_733:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 60px var(--base30) inset;
}
._input_a9dpv_733:focus {
  outline: none;
  background: var(--base30);
}
._input_a9dpv_733::placeholder {
  color: var(--soft-kyc-form-search-input-placeholder-color, var(--base60));
}
._input_a9dpv_733:not([value='']) {
  background: var(--base30);
}
._adornment_a9dpv_759 {
  height: 0.01em;
  display: flex;
  max-height: 2em;
  align-items: center;
  white-space: nowrap;
}
._adornmentStart_a9dpv_767 {
  margin-right: var(--spacing0d5Rem);
}
._adornmentEnd_a9dpv_771 {
  margin-left: var(--spacing0d5Rem);
}
._clearButton_a9dpv_775 {
  display: flex;
  align-items: center;
  padding: 0;
}
._backspaceIcon_a9dpv_781,
._icon_a9dpv_781 {
  color: var(--base60);
  height: var(--sizing1Rem);
  width: var(--sizing1Rem);
  display: block;
}
._backspaceIcon_a9dpv_781 {
  color: var(--base80);
}
._loading_a9dpv_792 {
  position: relative;
}
._loading_a9dpv_792:before {
  content: '';
  position: absolute;
  right: var(--spacing0d5Rem);
  color: #fff;
  width: var(--sizing1Rem);
  height: var(--sizing1Rem);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-top-color: #fff;
  border-left-color: #fff;
  border-radius: 50%;
  animation: _button-loading-spinner_a9dpv_1 0.7s linear infinite;
}
@keyframes _button-loading-spinner_a9dpv_1 {
  to {
    transform: rotate(360deg);
  }
}
._default_1jj0x_1 {
  --base0: #1d092f;
  --base5: #3a125d;
  --base10: #4e187c;
  --base20: #7a468e;
  --base30: #c47ae5;
  --base40: #d79af3;
  --base50: #ecc3ff;
  --base60: #efd7fa;
  --base70: #ceb6d8;
  --base80: #cccccc;
  --base90: #e5e5e5;
  --base95: #f2f2f2;
  --base100: #ffffff;
  --brandAccentPrimary: #4e187c;
  --brandAccentPrimary75: #3a125d;
  --brandAccentPrimary50: #1d092f;
  --brandAccentPrimary40: #210f31;
  --brandAccentPrimary30: #25ecff;
  --brandAccentPrimary25: #07020c;
  --brandAccentSecondary: #92d63d;
  --brandAccentSecondary75: #6ea02e;
  --brandAccentSecondary50: #375017;
  --brandAccentSecondary25: #0e1406;
  --brandBase1: #1a1038;
  --brandBase2: #2a1c4d;
  --brand-interface: #1a1038;
  --brandInterfaceCanvas: #000000;
  --brandInterfaceModal: rgba(var(--brandBase1), 0.8);
  --brandInterfaceHeaderLvl1: var(--brandBase1);
  --brandInterfaceHeaderLvl2: var(--brandBase2);
  --border-radius-small: 4px;
  --border-radius-default: 16px;
  --border-radius-200: 200px;
  --pill-border-radius: 200px;
  --icon-primary-filter: brightness(0) saturate(100%) invert(28%) sepia(99%) saturate(6930%)
    hue-rotate(337deg) brightness(99%) contrast(97%);
  --body-color: #231845;
  --desktop-menu-color: #0c0c0c;
  --desktop-menu-block-color: #0c0c0c;
  --block-shadow: none;
  --textColorPrimary: var(--base50);
  --textColorSecondary: #fff;
  --pillHeight: 38px;
  --pillBg: var(--base20);
  --pillColor: rgba(var(--base40, 0.55));
  --activePillBg: var(--brandAccentSecondary);
  --activePillColor: var(--base50);
  --pillBoxShadow: none;
  --svgIconColor: var(--base100);
  --buttonBg: var(--base20);
  --inputBg: var(--base20);
  --selectBg: var(--base20);
  --disabledSelectBg: var(--base20);
  --validationTextColor: var(--base60);
  --pageBg: var(--base5);
  --iconFilter: none;
  --iconPrimaryFilter: none;
  --iconActiveFilter: none;
  --menuIconFilter: brightness(0) saturate(100%) invert(54%) sepia(96%) saturate(100%)
    hue-rotate(235deg) brightness(122%) contrast(94%);
  --menuActiveBgColor: rgba(236, 195, 255, 0.2);
  --menuActiveIconColor: brightness(0) saturate(100%) invert(83%) sepia(8%) saturate(3083%)
    hue-rotate(205deg) brightness(122%) contrast(104%);
  --menuTextColor: #b78ece;
  --menuActiveTextColor: var(--base50);
  --balanceBlockBg: var(--base10);
  --balanceBlockColor: #fff;
  --mobileDrawerBg: linear-gradient(172deg, #2a124c 3.15%, #451668 18.81%, #1a1038 94.09%);
  --mobileMenuIconFilter: none;
  --imageBlockBg: --brandInterfaceHeaderLvl2;
  --infoGameBg: #311d58;
  --searchBarDropdownBg: var(--base5);
  --jackpotListItemBg: #3a1f58;
  --jackpotInfoIconFilter: brightness(0) saturate(100%) invert(100%) sepia(4%) saturate(0%)
    hue-rotate(353deg) brightness(104%) contrast(100%);
  --jackpotInfoColor: var(--base100);
  --goldJackpotBg: linear-gradient(90.3deg, var(--brandBase1) 48.71%, #dcb119 99.94%);
  --sweepstakesJackpotBg: linear-gradient(89.85deg, var(--brandBase1) 39.05%, #1ab642 99.77%);
  --jackpotColor: var(--base100);
  --jackpotContributionBadgeBg: rgba(#0c0c0c, 0.8);
  --jackpotGcContributionAmountColor: var(--brand-accent-primary);
  --favoriteButtonFilter: none;
  --redeemHeaderBg: transparent;
  --offerCaptionColor: #333333;
  --jumioKycBackdropBg: var(--base10);
  --spinner-color: #ffc107;
  --layoutBorderColor: #533b92;
  --brandGradient1: linear-gradient(135deg, #1c1c1c 0%, #0c0c0c 100%);
  --error: #ff5252;
  --success: #11df16;
  --info: #2a9cff;
  --warning: #e79900;
  --sizing0d125Rem: 2px;
  --sizing0d25Rem: 4px;
  --sizing0d5Rem: 8px;
  --sizing0d75Rem: 12px;
  --spacing0d125Rem: 2px;
  --spacing0d25Rem: 4px;
  --spacing0d5Rem: 8px;
  --spacing0d75Rem: 12px;
  --spacing1Rem: 16px;
  --sizing1Rem: 16px;
  --sizing1d25Rem: 20px;
  --sizing1d5Rem: 24px;
  --sizing1d75Rem: 28px;
  --sizing2Rem: 32px;
  --sizing2d5Rem: 40px;
  --sizing3Rem: 48px;
  --sizing3d5Rem: 56px;
  --sizing4Rem: 64px;
  --sizing4d5Rem: 72px;
  --sizing5Rem: 80px;
  --spacing1d25Rem: 20px;
  --spacing1d5Rem: 24px;
  --spacing1d75Rem: 28px;
  --spacing2Rem: 32px;
  --spacing2d5Rem: 40px;
  --spacing3Rem: 48px;
  --spacing3d5Rem: 56px;
  --spacing4Rem: 64px;
  --spacing4d5Rem: 72px;
  --spacing5Rem: 80px;
  --fontFamilyPrimary: Ubuntu, Helvetica, Arial, sans-serif;
  --fontWeightPrimaryBold: 500;
  --fontWeightPrimaryRegular: 400;
  --font2XS: 8px;
  --fontXS: 10px;
  --fontSM: 12px;
  --fontMD: 14px;
  --fontLG: 16px;
  --fontXL: 20px;
  --font2XL: 24px;
  --font3XL: 32px;
  --font4XL: 40px;
  --font5XL: 48px;
  --lineMD: 140%;
  --lineLG: 120%;
  --lineXL: 100%;
  --textCaseNone: none;
  --textCaseUpperCase: uppercase;
  --radiusNone: 0px;
  --radiusXS: 2px;
  --radiusSM: 8px;
  --radiusMD: 12px;
  --radiusLG: 16px;
  --radiusXL: 24px;
  --radiusFull: 200px;
  --textDecNone: none;
  --textDecUnderline: underline;
  --textDecThrough: line-through;
  --textCaseCapitalize: capitalize;
  --borderSM: 1px;
  --borderMD: 2px;
  --borderLG: 4px;
  --opacity0: 0%;
  --opacity10: 10%;
  --opacity20: 20%;
  --opacity30: 30%;
  --opacity40: 40%;
  --opacity50: 50%;
  --opacity60: 60%;
  --opacity70: 70%;
  --opacity80: 80%;
  --opacity90: 90%;
  --opacity100: 100%;
  --paragraphNone: 0px;
  --paragraphSM: 4px;
  --paragraphMD: 8px;
  --paragraphLG: 16px;
  --paragraphXL: 24px;
  --letterSpacingDefault: 0%;
  --letterSpacingMinus: -5%;
  --letterSpacingExtra: 5%;
  --xs: 927px;
  --sm: 933px;
  --md: 992px;
  --lg: 1200px;
  --xlg: 1440px;
  --xl: 1920px;
  --maxContentWidth: 1160px;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;
  --primary-white: #ffffff;
  --text-secondary-dark: rgba(255, 255, 255, 0.87);
  --error-light: #e57373;
  --sweep-gradient: linear-gradient(-135deg, #1bee02 0.56%, #00ad45 100%);
  --contrast-text-secondary-87-dark: rgba(255, 255, 255, 0.87);
  --contrast-text-secondary-54: rgba(0, 0, 0, 0.54);
  --contrast-text-secondary-23: rgba(0, 0, 0, 0.23);
  --error-main: #f44336;
  --primary-main: #70b5f9;
  --z-negative: -1;
  --z-default: 0;
  --z-1: 1;
  --z-2: 2;
  --z-layout: 3;
  --z-multiplay-info: 4;
  --z-10: 10;
  --z-modal: 100;
  --z-error: 9999;
  --error-dark: #d32f2f;
  --inputBgColor: var(--base20);
  --inputTextColor: var(--base100);
  --inputFontSize: var(--fontMD);
  --inputLabelColor: var(--base100);
  --inputLabelFontSize: var(--fontSM);
  --inputPlaceholderTextColor: var(--base60);
  --inputBorderRadius: var(--border-radius-default);
  --inputErrorTextColor: var(--error);
  --inputErrorBorderWidth: var(--borderSM);
  --inputErrorBorderColor: var(--error);
  --inputHoverBorderWidth: var(--borderSM);
  --inputHoverBorderColor: rgba(var(--base100-rgb), 0.87);
  --inputFocusedBorderWidth: var(--borderSM);
  --inputFocusedBorderColor: rgba(var(--base100-rgb), 0.87);
  --inputDisabledBgColor: var(--base20);
  --inputDisabledTextColor: var(--base60);
  --datepickerCalendarBg: var(--base0);
  --datepickerLabelColor: var(--base80);
  --inputPasswordIconColor: var(--validationTextColor);
  --inputAutofillTextColor: var(--base60);
  --inputAutofillBgColor: var(--base0);
  --selectFocusedBorderWidth: var(--borderMD);
  --selectFocusedBorderColor: var(--primary-main);
  --selectEmptyTextColor: var(--base60);
  --selectOptionBg: var(--base0);
}
._root_1jj0x_703 {
  position: relative;
}
._root_1jj0x_703 ._containerSearchInput_1jj0x_706 {
  background-color: var(--search-field-background-color, var(--inputBg));
}
._root_1jj0x_703 ._containerSearchInput_1jj0x_706:hover {
  background-color: var(--search-field-hover-background-color, var(--inputBg));
}
._root_1jj0x_703 ._search_1jj0x_712 {
  position: relative;
  transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: var(--search-field-background-color, var(--inputBg));
  border-radius: var(--border-radius-default);
  overflow: hidden;
  border: var(--search-field-border, 1px solid var(--inputBg));
}
._root_1jj0x_703 ._search_1jj0x_712:hover {
  border: var(--search-field-hover-border, solid 1px rgba(var(--base100), 0.87));
  background-color: var(--search-field-hover-background-color, var(--inputBg));
}
._root_1jj0x_703 ._focus_1jj0x_724,
._root_1jj0x_703 ._focus_1jj0x_724:hover {
  border: var(--search-field-focus-border, solid 1px var(--primary-main));
}
._root_1jj0x_703 ._error_1jj0x_730,
._root_1jj0x_703 ._error_1jj0x_730:hover {
  border: var(--search-field-error-border, solid 1px var(--error));
}
._root_1jj0x_703 ._input_1jj0x_736 {
  padding-top: var(--spacing0d5Rem);
  padding-bottom: var(--spacing0d5Rem);
  height: 33px;
  font-weight: var(--font-weight-400);
  overflow: hidden;
  background: transparent;
  color: var(--input-text-color);
}
._root_1jj0x_703 ._input_1jj0x_736::placeholder {
  color: var(--input-text-color, --base60);
}
._root_1jj0x_703 ._resultContainer_1jj0x_748 {
  list-style-type: none;
  background: var(--base20);
  border-radius: var(--radiusLG);
  position: absolute;
  width: 100%;
  z-index: var(--z-10);
  top: 51px;
  padding: var(--spacing0d5Rem);
}
._root_1jj0x_703 ._resultContainer_1jj0x_748 ._resultItem_1jj0x_758 {
  color: var(--base100);
}
._row_1jj0x_762 {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing0d75Rem);
}
._default_1nysw_1 {
  --base0: #1d092f;
  --base5: #3a125d;
  --base10: #4e187c;
  --base20: #7a468e;
  --base30: #c47ae5;
  --base40: #d79af3;
  --base50: #ecc3ff;
  --base60: #efd7fa;
  --base70: #ceb6d8;
  --base80: #cccccc;
  --base90: #e5e5e5;
  --base95: #f2f2f2;
  --base100: #ffffff;
  --brandAccentPrimary: #4e187c;
  --brandAccentPrimary75: #3a125d;
  --brandAccentPrimary50: #1d092f;
  --brandAccentPrimary40: #210f31;
  --brandAccentPrimary30: #25ecff;
  --brandAccentPrimary25: #07020c;
  --brandAccentSecondary: #92d63d;
  --brandAccentSecondary75: #6ea02e;
  --brandAccentSecondary50: #375017;
  --brandAccentSecondary25: #0e1406;
  --brandBase1: #1a1038;
  --brandBase2: #2a1c4d;
  --brand-interface: #1a1038;
  --brandInterfaceCanvas: #000000;
  --brandInterfaceModal: rgba(var(--brandBase1), 0.8);
  --brandInterfaceHeaderLvl1: var(--brandBase1);
  --brandInterfaceHeaderLvl2: var(--brandBase2);
  --border-radius-small: 4px;
  --border-radius-default: 16px;
  --border-radius-200: 200px;
  --pill-border-radius: 200px;
  --icon-primary-filter: brightness(0) saturate(100%) invert(28%) sepia(99%) saturate(6930%)
    hue-rotate(337deg) brightness(99%) contrast(97%);
  --body-color: #231845;
  --desktop-menu-color: #0c0c0c;
  --desktop-menu-block-color: #0c0c0c;
  --block-shadow: none;
  --textColorPrimary: var(--base50);
  --textColorSecondary: #fff;
  --pillHeight: 38px;
  --pillBg: var(--base20);
  --pillColor: rgba(var(--base40, 0.55));
  --activePillBg: var(--brandAccentSecondary);
  --activePillColor: var(--base50);
  --pillBoxShadow: none;
  --svgIconColor: var(--base100);
  --buttonBg: var(--base20);
  --inputBg: var(--base20);
  --selectBg: var(--base20);
  --disabledSelectBg: var(--base20);
  --validationTextColor: var(--base60);
  --pageBg: var(--base5);
  --iconFilter: none;
  --iconPrimaryFilter: none;
  --iconActiveFilter: none;
  --menuIconFilter: brightness(0) saturate(100%) invert(54%) sepia(96%) saturate(100%)
    hue-rotate(235deg) brightness(122%) contrast(94%);
  --menuActiveBgColor: rgba(236, 195, 255, 0.2);
  --menuActiveIconColor: brightness(0) saturate(100%) invert(83%) sepia(8%) saturate(3083%)
    hue-rotate(205deg) brightness(122%) contrast(104%);
  --menuTextColor: #b78ece;
  --menuActiveTextColor: var(--base50);
  --balanceBlockBg: var(--base10);
  --balanceBlockColor: #fff;
  --mobileDrawerBg: linear-gradient(172deg, #2a124c 3.15%, #451668 18.81%, #1a1038 94.09%);
  --mobileMenuIconFilter: none;
  --imageBlockBg: --brandInterfaceHeaderLvl2;
  --infoGameBg: #311d58;
  --searchBarDropdownBg: var(--base5);
  --jackpotListItemBg: #3a1f58;
  --jackpotInfoIconFilter: brightness(0) saturate(100%) invert(100%) sepia(4%) saturate(0%)
    hue-rotate(353deg) brightness(104%) contrast(100%);
  --jackpotInfoColor: var(--base100);
  --goldJackpotBg: linear-gradient(90.3deg, var(--brandBase1) 48.71%, #dcb119 99.94%);
  --sweepstakesJackpotBg: linear-gradient(89.85deg, var(--brandBase1) 39.05%, #1ab642 99.77%);
  --jackpotColor: var(--base100);
  --jackpotContributionBadgeBg: rgba(#0c0c0c, 0.8);
  --jackpotGcContributionAmountColor: var(--brand-accent-primary);
  --favoriteButtonFilter: none;
  --redeemHeaderBg: transparent;
  --offerCaptionColor: #333333;
  --jumioKycBackdropBg: var(--base10);
  --spinner-color: #ffc107;
  --layoutBorderColor: #533b92;
  --brandGradient1: linear-gradient(135deg, #1c1c1c 0%, #0c0c0c 100%);
  --error: #ff5252;
  --success: #11df16;
  --info: #2a9cff;
  --warning: #e79900;
  --sizing0d125Rem: 2px;
  --sizing0d25Rem: 4px;
  --sizing0d5Rem: 8px;
  --sizing0d75Rem: 12px;
  --spacing0d125Rem: 2px;
  --spacing0d25Rem: 4px;
  --spacing0d5Rem: 8px;
  --spacing0d75Rem: 12px;
  --spacing1Rem: 16px;
  --sizing1Rem: 16px;
  --sizing1d25Rem: 20px;
  --sizing1d5Rem: 24px;
  --sizing1d75Rem: 28px;
  --sizing2Rem: 32px;
  --sizing2d5Rem: 40px;
  --sizing3Rem: 48px;
  --sizing3d5Rem: 56px;
  --sizing4Rem: 64px;
  --sizing4d5Rem: 72px;
  --sizing5Rem: 80px;
  --spacing1d25Rem: 20px;
  --spacing1d5Rem: 24px;
  --spacing1d75Rem: 28px;
  --spacing2Rem: 32px;
  --spacing2d5Rem: 40px;
  --spacing3Rem: 48px;
  --spacing3d5Rem: 56px;
  --spacing4Rem: 64px;
  --spacing4d5Rem: 72px;
  --spacing5Rem: 80px;
  --fontFamilyPrimary: Ubuntu, Helvetica, Arial, sans-serif;
  --fontWeightPrimaryBold: 500;
  --fontWeightPrimaryRegular: 400;
  --font2XS: 8px;
  --fontXS: 10px;
  --fontSM: 12px;
  --fontMD: 14px;
  --fontLG: 16px;
  --fontXL: 20px;
  --font2XL: 24px;
  --font3XL: 32px;
  --font4XL: 40px;
  --font5XL: 48px;
  --lineMD: 140%;
  --lineLG: 120%;
  --lineXL: 100%;
  --textCaseNone: none;
  --textCaseUpperCase: uppercase;
  --radiusNone: 0px;
  --radiusXS: 2px;
  --radiusSM: 8px;
  --radiusMD: 12px;
  --radiusLG: 16px;
  --radiusXL: 24px;
  --radiusFull: 200px;
  --textDecNone: none;
  --textDecUnderline: underline;
  --textDecThrough: line-through;
  --textCaseCapitalize: capitalize;
  --borderSM: 1px;
  --borderMD: 2px;
  --borderLG: 4px;
  --opacity0: 0%;
  --opacity10: 10%;
  --opacity20: 20%;
  --opacity30: 30%;
  --opacity40: 40%;
  --opacity50: 50%;
  --opacity60: 60%;
  --opacity70: 70%;
  --opacity80: 80%;
  --opacity90: 90%;
  --opacity100: 100%;
  --paragraphNone: 0px;
  --paragraphSM: 4px;
  --paragraphMD: 8px;
  --paragraphLG: 16px;
  --paragraphXL: 24px;
  --letterSpacingDefault: 0%;
  --letterSpacingMinus: -5%;
  --letterSpacingExtra: 5%;
  --xs: 927px;
  --sm: 933px;
  --md: 992px;
  --lg: 1200px;
  --xlg: 1440px;
  --xl: 1920px;
  --maxContentWidth: 1160px;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;
  --primary-white: #ffffff;
  --text-secondary-dark: rgba(255, 255, 255, 0.87);
  --error-light: #e57373;
  --sweep-gradient: linear-gradient(-135deg, #1bee02 0.56%, #00ad45 100%);
  --contrast-text-secondary-87-dark: rgba(255, 255, 255, 0.87);
  --contrast-text-secondary-54: rgba(0, 0, 0, 0.54);
  --contrast-text-secondary-23: rgba(0, 0, 0, 0.23);
  --error-main: #f44336;
  --primary-main: #70b5f9;
  --z-negative: -1;
  --z-default: 0;
  --z-1: 1;
  --z-2: 2;
  --z-layout: 3;
  --z-multiplay-info: 4;
  --z-10: 10;
  --z-modal: 100;
  --z-error: 9999;
  --error-dark: #d32f2f;
  --inputBgColor: var(--base20);
  --inputTextColor: var(--base100);
  --inputFontSize: var(--fontMD);
  --inputLabelColor: var(--base100);
  --inputLabelFontSize: var(--fontSM);
  --inputPlaceholderTextColor: var(--base60);
  --inputBorderRadius: var(--border-radius-default);
  --inputErrorTextColor: var(--error);
  --inputErrorBorderWidth: var(--borderSM);
  --inputErrorBorderColor: var(--error);
  --inputHoverBorderWidth: var(--borderSM);
  --inputHoverBorderColor: rgba(var(--base100-rgb), 0.87);
  --inputFocusedBorderWidth: var(--borderSM);
  --inputFocusedBorderColor: rgba(var(--base100-rgb), 0.87);
  --inputDisabledBgColor: var(--base20);
  --inputDisabledTextColor: var(--base60);
  --datepickerCalendarBg: var(--base0);
  --datepickerLabelColor: var(--base80);
  --inputPasswordIconColor: var(--validationTextColor);
  --inputAutofillTextColor: var(--base60);
  --inputAutofillBgColor: var(--base0);
  --selectFocusedBorderWidth: var(--borderMD);
  --selectFocusedBorderColor: var(--primary-main);
  --selectEmptyTextColor: var(--base60);
  --selectOptionBg: var(--base0);
}
._container_1nysw_703 {
  display: flex;
  gap: var(--spacing1Rem);
  flex-direction: column;
}
._addressWarningText_1nysw_709 {
  font-size: 12px;
  line-height: 1.4;
  margin-left: var(--sizing0d75Rem);
  color: var(--address-input-warning-text, --base80);
}
._help_1nysw_716 {
  font-size: 14.5px;
  cursor: pointer;
  margin-bottom: 2.5px;
}
._default_12lg2_1 {
  --base0: #1d092f;
  --base5: #3a125d;
  --base10: #4e187c;
  --base20: #7a468e;
  --base30: #c47ae5;
  --base40: #d79af3;
  --base50: #ecc3ff;
  --base60: #efd7fa;
  --base70: #ceb6d8;
  --base80: #cccccc;
  --base90: #e5e5e5;
  --base95: #f2f2f2;
  --base100: #ffffff;
  --brandAccentPrimary: #4e187c;
  --brandAccentPrimary75: #3a125d;
  --brandAccentPrimary50: #1d092f;
  --brandAccentPrimary40: #210f31;
  --brandAccentPrimary30: #25ecff;
  --brandAccentPrimary25: #07020c;
  --brandAccentSecondary: #92d63d;
  --brandAccentSecondary75: #6ea02e;
  --brandAccentSecondary50: #375017;
  --brandAccentSecondary25: #0e1406;
  --brandBase1: #1a1038;
  --brandBase2: #2a1c4d;
  --brand-interface: #1a1038;
  --brandInterfaceCanvas: #000000;
  --brandInterfaceModal: rgba(var(--brandBase1), 0.8);
  --brandInterfaceHeaderLvl1: var(--brandBase1);
  --brandInterfaceHeaderLvl2: var(--brandBase2);
  --border-radius-small: 4px;
  --border-radius-default: 16px;
  --border-radius-200: 200px;
  --pill-border-radius: 200px;
  --icon-primary-filter: brightness(0) saturate(100%) invert(28%) sepia(99%) saturate(6930%)
    hue-rotate(337deg) brightness(99%) contrast(97%);
  --body-color: #231845;
  --desktop-menu-color: #0c0c0c;
  --desktop-menu-block-color: #0c0c0c;
  --block-shadow: none;
  --textColorPrimary: var(--base50);
  --textColorSecondary: #fff;
  --pillHeight: 38px;
  --pillBg: var(--base20);
  --pillColor: rgba(var(--base40, 0.55));
  --activePillBg: var(--brandAccentSecondary);
  --activePillColor: var(--base50);
  --pillBoxShadow: none;
  --svgIconColor: var(--base100);
  --buttonBg: var(--base20);
  --inputBg: var(--base20);
  --selectBg: var(--base20);
  --disabledSelectBg: var(--base20);
  --validationTextColor: var(--base60);
  --pageBg: var(--base5);
  --iconFilter: none;
  --iconPrimaryFilter: none;
  --iconActiveFilter: none;
  --menuIconFilter: brightness(0) saturate(100%) invert(54%) sepia(96%) saturate(100%)
    hue-rotate(235deg) brightness(122%) contrast(94%);
  --menuActiveBgColor: rgba(236, 195, 255, 0.2);
  --menuActiveIconColor: brightness(0) saturate(100%) invert(83%) sepia(8%) saturate(3083%)
    hue-rotate(205deg) brightness(122%) contrast(104%);
  --menuTextColor: #b78ece;
  --menuActiveTextColor: var(--base50);
  --balanceBlockBg: var(--base10);
  --balanceBlockColor: #fff;
  --mobileDrawerBg: linear-gradient(172deg, #2a124c 3.15%, #451668 18.81%, #1a1038 94.09%);
  --mobileMenuIconFilter: none;
  --imageBlockBg: --brandInterfaceHeaderLvl2;
  --infoGameBg: #311d58;
  --searchBarDropdownBg: var(--base5);
  --jackpotListItemBg: #3a1f58;
  --jackpotInfoIconFilter: brightness(0) saturate(100%) invert(100%) sepia(4%) saturate(0%)
    hue-rotate(353deg) brightness(104%) contrast(100%);
  --jackpotInfoColor: var(--base100);
  --goldJackpotBg: linear-gradient(90.3deg, var(--brandBase1) 48.71%, #dcb119 99.94%);
  --sweepstakesJackpotBg: linear-gradient(89.85deg, var(--brandBase1) 39.05%, #1ab642 99.77%);
  --jackpotColor: var(--base100);
  --jackpotContributionBadgeBg: rgba(#0c0c0c, 0.8);
  --jackpotGcContributionAmountColor: var(--brand-accent-primary);
  --favoriteButtonFilter: none;
  --redeemHeaderBg: transparent;
  --offerCaptionColor: #333333;
  --jumioKycBackdropBg: var(--base10);
  --spinner-color: #ffc107;
  --layoutBorderColor: #533b92;
  --brandGradient1: linear-gradient(135deg, #1c1c1c 0%, #0c0c0c 100%);
  --error: #ff5252;
  --success: #11df16;
  --info: #2a9cff;
  --warning: #e79900;
  --sizing0d125Rem: 2px;
  --sizing0d25Rem: 4px;
  --sizing0d5Rem: 8px;
  --sizing0d75Rem: 12px;
  --spacing0d125Rem: 2px;
  --spacing0d25Rem: 4px;
  --spacing0d5Rem: 8px;
  --spacing0d75Rem: 12px;
  --spacing1Rem: 16px;
  --sizing1Rem: 16px;
  --sizing1d25Rem: 20px;
  --sizing1d5Rem: 24px;
  --sizing1d75Rem: 28px;
  --sizing2Rem: 32px;
  --sizing2d5Rem: 40px;
  --sizing3Rem: 48px;
  --sizing3d5Rem: 56px;
  --sizing4Rem: 64px;
  --sizing4d5Rem: 72px;
  --sizing5Rem: 80px;
  --spacing1d25Rem: 20px;
  --spacing1d5Rem: 24px;
  --spacing1d75Rem: 28px;
  --spacing2Rem: 32px;
  --spacing2d5Rem: 40px;
  --spacing3Rem: 48px;
  --spacing3d5Rem: 56px;
  --spacing4Rem: 64px;
  --spacing4d5Rem: 72px;
  --spacing5Rem: 80px;
  --fontFamilyPrimary: Ubuntu, Helvetica, Arial, sans-serif;
  --fontWeightPrimaryBold: 500;
  --fontWeightPrimaryRegular: 400;
  --font2XS: 8px;
  --fontXS: 10px;
  --fontSM: 12px;
  --fontMD: 14px;
  --fontLG: 16px;
  --fontXL: 20px;
  --font2XL: 24px;
  --font3XL: 32px;
  --font4XL: 40px;
  --font5XL: 48px;
  --lineMD: 140%;
  --lineLG: 120%;
  --lineXL: 100%;
  --textCaseNone: none;
  --textCaseUpperCase: uppercase;
  --radiusNone: 0px;
  --radiusXS: 2px;
  --radiusSM: 8px;
  --radiusMD: 12px;
  --radiusLG: 16px;
  --radiusXL: 24px;
  --radiusFull: 200px;
  --textDecNone: none;
  --textDecUnderline: underline;
  --textDecThrough: line-through;
  --textCaseCapitalize: capitalize;
  --borderSM: 1px;
  --borderMD: 2px;
  --borderLG: 4px;
  --opacity0: 0%;
  --opacity10: 10%;
  --opacity20: 20%;
  --opacity30: 30%;
  --opacity40: 40%;
  --opacity50: 50%;
  --opacity60: 60%;
  --opacity70: 70%;
  --opacity80: 80%;
  --opacity90: 90%;
  --opacity100: 100%;
  --paragraphNone: 0px;
  --paragraphSM: 4px;
  --paragraphMD: 8px;
  --paragraphLG: 16px;
  --paragraphXL: 24px;
  --letterSpacingDefault: 0%;
  --letterSpacingMinus: -5%;
  --letterSpacingExtra: 5%;
  --xs: 927px;
  --sm: 933px;
  --md: 992px;
  --lg: 1200px;
  --xlg: 1440px;
  --xl: 1920px;
  --maxContentWidth: 1160px;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;
  --primary-white: #ffffff;
  --text-secondary-dark: rgba(255, 255, 255, 0.87);
  --error-light: #e57373;
  --sweep-gradient: linear-gradient(-135deg, #1bee02 0.56%, #00ad45 100%);
  --contrast-text-secondary-87-dark: rgba(255, 255, 255, 0.87);
  --contrast-text-secondary-54: rgba(0, 0, 0, 0.54);
  --contrast-text-secondary-23: rgba(0, 0, 0, 0.23);
  --error-main: #f44336;
  --primary-main: #70b5f9;
  --z-negative: -1;
  --z-default: 0;
  --z-1: 1;
  --z-2: 2;
  --z-layout: 3;
  --z-multiplay-info: 4;
  --z-10: 10;
  --z-modal: 100;
  --z-error: 9999;
  --error-dark: #d32f2f;
  --inputBgColor: var(--base20);
  --inputTextColor: var(--base100);
  --inputFontSize: var(--fontMD);
  --inputLabelColor: var(--base100);
  --inputLabelFontSize: var(--fontSM);
  --inputPlaceholderTextColor: var(--base60);
  --inputBorderRadius: var(--border-radius-default);
  --inputErrorTextColor: var(--error);
  --inputErrorBorderWidth: var(--borderSM);
  --inputErrorBorderColor: var(--error);
  --inputHoverBorderWidth: var(--borderSM);
  --inputHoverBorderColor: rgba(var(--base100-rgb), 0.87);
  --inputFocusedBorderWidth: var(--borderSM);
  --inputFocusedBorderColor: rgba(var(--base100-rgb), 0.87);
  --inputDisabledBgColor: var(--base20);
  --inputDisabledTextColor: var(--base60);
  --datepickerCalendarBg: var(--base0);
  --datepickerLabelColor: var(--base80);
  --inputPasswordIconColor: var(--validationTextColor);
  --inputAutofillTextColor: var(--base60);
  --inputAutofillBgColor: var(--base0);
  --selectFocusedBorderWidth: var(--borderMD);
  --selectFocusedBorderColor: var(--primary-main);
  --selectEmptyTextColor: var(--base60);
  --selectOptionBg: var(--base0);
}
._root_12lg2_703 {
  position: relative;
}
._root_12lg2_703 ._containerSearchInput_12lg2_706 {
  background-color: var(--inputBg);
}
._root_12lg2_703 ._search_12lg2_709 {
  position: relative;
  transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: var(--inputBg);
  border-radius: var(--border-radius-default);
  overflow: hidden;
  border: 1px solid var(--inputBg);
}
._root_12lg2_703 ._search_12lg2_709:hover {
  border: solid 1px rgba(var(--base100), 0.87);
}
._root_12lg2_703 ._focus_12lg2_720,
._root_12lg2_703 ._focus_12lg2_720:hover {
  border: solid 1px var(--primary-main);
}
._root_12lg2_703 ._error_12lg2_726,
._root_12lg2_703 ._error_12lg2_726:hover {
  border: solid 1px var(--error);
}
._root_12lg2_703 ._input_12lg2_732 {
  padding-top: var(--spacing0d5Rem);
  padding-bottom: var(--spacing0d5Rem);
  height: 33px;
  font-weight: var(--font-weight-400);
  overflow: hidden;
  background: transparent;
}
._root_12lg2_703 ._resultContainer_12lg2_740 {
  list-style-type: none;
  background: var(--base20);
  border-radius: var(--radiusLG);
  position: absolute;
  width: 100%;
  z-index: var(--z-10);
  top: 51px;
  padding: var(--spacing0d5Rem);
}
._root_12lg2_703 ._resultContainer_12lg2_740 ._resultItem_12lg2_750 {
  color: var(--base100);
}
._row_12lg2_754 {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing0d75Rem);
  margin-top: var(--spacing1Rem);
}
