/* Close Button */
.dialog-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  color: #fff;
  background: transparent;
  border: none;
  padding: 4px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  z-index: 10;
  &:hover {
    filter: brightness(1.2);
  }
}
