@import '../../variables/variables';

.dialog {
  --chain-dialog-background-color: transparent;
  --chain-dialog-border: none;
  --chain-dialog-color: #{$base100};
  --chain-dialog-padding: env(safe-area-inset-top) 0 0;

  display: flex;
  flex-direction: column;
  background: var(--chain-dialog-background-color);
  border: var(--chain-dialog-border);
  color: var(--chain-dialog-color);
  width: 100%;
  max-width: 414px;
  max-height: 95%;
  padding: var(--chain-dialog-padding);
}
