@import '../../variables/variables';

/* Chain Offer Header Styles */

.chain-offer-header {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  flex-shrink: 0;
}

.chain-offer-header__image-box {
  position: relative;
  margin-bottom: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 0 10px;
}

.chain-offer-header__image {
  aspect-ratio: 382/121;
  object-fit: contain;
  width: 100%;
  max-width: 440px; /* allow a bit larger for better centering impact */
  height: auto;
  display: block;
  margin: 0 auto;
}

.chain-offer-header__title {
  margin: 12px 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  color: #ecc3ff;
}
