@import '../../variables/variables';

.offerStepWrapper {
  order: 0;
  border-radius: 0.5rem; /* 8px */
  width: 100%;
    max-width: 18.375rem; /* 294px */
/*  max-width: 28.125rem;*/ /* 450px */
  aspect-ratio: 450 / 156;
  overflow: visible;
  box-shadow: var(--offer-step-box-shadow, none);
  flex: 0 0 auto;
  position: relative;
}


.offerStep {
  background-image: none;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.claimed {
  filter: brightness(60%);
  pointer-events: none;
}

.offers {
  content: 'offers';
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem; /* 8px */
  min-height: 61%;
}

.offerItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnBox {
  display: flex;
  justify-content: center;
  align-items: center;
    min-height: 43%;

}

.stepDivider {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  margin: 0;
  width: 100%;
  bottom: -1.6rem;
  z-index: 10;
}

.stepDividerImage {
  object-fit: cover;
}
