.chain-offer-timer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.chain-offer-timer__inner {
  background-color: rgb(216, 69, 104);
  font-size: 14px;
  font-weight: 900;
  line-height: 1;
  color: rgb(255, 255, 255);
  padding: 2px 8px;
  border-radius: 1em;
  white-space: nowrap;
  pointer-events: auto;
}
